{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/base.html' %}

{% block head_css %}
  <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/css/bootstrap.min.css', v='3.3.5') }}" rel="stylesheet">
  {# Bootstrap theme removed #}
  <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
  <style type="text/css">
    body {
       padding-top: 4px;
    }
  	{# By default, Flask-Admin applies form-control to checkboxes and radio buttons, which looks really weird based on the width: 100% styling. #}    
    input[type=checkbox].form-control, input[type=radio].form-control {
      width: auto;
      margin-top: 0;
    }    
  </style>
{% endblock %}

{% block tail %}
  {{ super() }}
  <div class="container">
    <hr />
    <p>
      <small><em>Powered by glitter and unicorns</em></small>
    </p>
  </div>
{% endblock %}