
/*************************************

  Colors

Dark grey - #393536
Light grey - #bdbcbc
Blue - #9ec8d9
Pink - #e97bc4
Purple - #3c204d 

*************************************/
body {
	background-color: #393536; 
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
}

.nav-bar {
	padding:0;
	background: url('../img/nav_bg.png') repeat-x;
}

.home-search {
	background: url('../img/purple_bkgd.png');
	background-size:200%; 
	min-height: 600px; 
	font-size: 2.8em; 
}

.home-featured {
	background-color: #bdbcbc;
	min-height: 600px;  
}

.recently-added{
	margin-top: 2px; 
	background-color: #fff;
	min-height: 300px;  
}
