
/*************************************

  Colors

  light purple = #97247f
  purple = #590f52
  baby blue = #90dee0
  pink = #ed3b94
  white = #ffffff

*************************************/
@font-face {
	font-family: Futura Book BT;
	src:url('../fonts/futura-book-bt.ttf');
}

@font-face {
	font-family: Futura Heavy BT;
	src:url('../fonts/futura-heavy-bt.ttf');
}

@font-face {
	font-family: Freestyle Script;
	src:url('../fonts/freestyle-script.ttf');
}

h1 {
	font-family: 'Freestyle Script';
	font-size: 70px; 
	color: #97247f;
}

h2, h3, input, select, label, .purple-label {
	color: #590f52;
}

h4, h5, h6, .pink-label {
	color: #ed3b94;

}

div.blue-line {
	background-color: #90dee0;
	height: 2px;
}

input, input.form-control-remedy {
	border-radius: 20px;
	border: 1px solid #590f52;
	padding: 6px;
}

button, .btn {
	border-radius: 80px;
	background-color: #97247f;

}

button, button:hover, .btn:hover {
	background-color: #590f52;
	color: #ffffff;
}

.btn-lg {
	font-weight: bold;
}

.navbar-remedy {
	background-image: linear-gradient(to bottom, #90dee0 50%, #ffffff 50%);
	border-bottom-style: none;
}

/**
 * the logo png is so big that we set a limit on
 * how big it can get
 */
.logo-remedy {
    max-height: 200px;
}

.search, .search:hover {
	background-color: inherit;
}

.search img {
	max-height: 40px;
}

.sign-btns .btn {
	display: block;
	margin: 10px;
	min-width: 90px;
}

.contact, .sign-btns {
	float: right;
}


.navbar-remedy ::-webkit-input-placeholder {
   color: #590f52;
}

.navbar-remedy :-moz-placeholder { /* Firefox 18- */
   color: #590f52;
}

.navbar-remedy ::-moz-placeholder {  /* Firefox 19+ */
   color: #590f52;
}

.navbar-remedy :-ms-input-placeholder {  
   color: #590f52;
}

.big {
	font-size: 20px;
}
