body {
  font-family: 'Open Sans', sans-serif;
  color: #393536;
}
a {
  color: inherit;
  border-bottom: 1px #3c204d dotted;
}
a:hover {
  color: #e97bc4;
  text-decoration: none;
  border-bottom: 1px #e97bc4 solid;
}
h1,
.h1 {
  color: #3c204d;
  font-family: 'Lobster', cursive;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: -10px;
}
h2,
.h2 {
  font-size: 2em;
  color: #3c204d;
  font-weight: bold;
  text-align: center;
  border-bottom: solid #3c204d;
  text-transform: uppercase;
}
h3,
.h3 {
  font-size: 1.4em;
  color: #3c204d;
  font-weight: bold;
}
h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small {
  color: #392e3f;
  font-style: italic;
}
h4,
.h4 {
  font-weight: bold;
}
h5,
.h5 {
  font-weight: bold;
  font-size: 1.3em;
}
p {
  width: 90%;
  font-size: 1.3em;
}
dt {
  color: #3c204d;
  margin-top: 10px;
  font-size: 1.1em;
}
blockquote {
  border-left-color: #3c204d;
}
div.panel.recently-added {
  border: 1px dashed #393536;
}
div.panel.recently-added div.panel-heading {
  background-color: #3c204d;
  color: #fff;
}
div.panel.recently-added div.panel-body {
  height: 7.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
div.header {
  min-height: 60px;
  padding: 10px;
  margin-top: 20px;
  /* Ensure the logout button (which needs its own form for CSRF protection)
	 is properly lined up and doesn't have a weird left-side border */
  /* For medium views, take the padding off of the quick search 
		in the middle to prevent wrapping, as well as cap the width
		of our search inputs */
}
div.header div.icon-col .logo {
  width: 55px;
  margin: 0;
  padding: 0;
  margin-top: -20px;
}
div.header div.icon-col a {
  text-decoration: none;
  border-bottom: none;
}
div.header .btn-group form {
  display: inline-block;
  margin-left: -1px;
}
div.header .btn-group form .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media (max-width: 991px) {
  div.header .btn-group.pull-right {
    float: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  div.header div.simple-search-col {
    padding-left: 0;
    padding-right: 0;
  }
  div.header .simple-search input[type="text"].form-control {
    width: 175px;
  }
  div.header div.account-col {
    padding-left: 0;
  }
}
div.header hr {
  margin: 10px 0;
}
div.row.bar {
  color: #fff;
  background-color: #3c204d;
  border-top: solid #9ec8d9 5px;
  border-bottom: solid #9ec8d9 5px;
  border-radius: 5px;
}
div.row.bar .nav {
  font-size: 1.2em;
}
div.row.bar .nav a {
  text-decoration: none;
  border-bottom: 0;
}
div.row.bar .nav a:hover {
  text-decoration: none;
  border-bottom: 0;
}
.footer-msg {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  color: #3c204d;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 10px;
  border: solid #9ec8d9 5px;
}
.bottombar {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
  background-color: #3c204d;
  font-size: 1.5em;
  text-align: center;
}
.bottombar.icon-list {
  margin-top: -20px;
}
.bottombar.icon-list a,
.bottombar.icon-list a:hover {
  text-decoration: none;
  border-bottom: none;
}
.bottombar.icon-list img {
  width: 60px;
  margin-right: 10px;
  background-color: #fff;
  border: solid 5px #fff;
}
.donate-button {
  background-color: #e97bc4;
  border-radius: 6px;
  margin: 3px;
  font-weight: bold;
}
.jumbotron {
  padding: 15px;
  margin-top: 15px;
  overflow: auto;
}
.jumbotron .signature {
  width: 200px;
}
.jumbotron .headshot {
  width: 100%;
}
.content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.provider {
  margin-top: 10px;
}
.tags {
  color: #bdbcbc;
  font-size: 1.3em;
}
.contact-box {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  font-size: 1.2em;
  width: 100%;
}
.contact-box .glyphicon {
  font-size: 2.5em;
  display: block;
  text-align: right;
}
.contact-box .row {
  margin-bottom: 10px;
}
.provider-details {
  border-top: 3px #3c204d solid;
  border-bottom: 3px #3c204d solid;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-size: 1.5em;
}
.provider-details span {
  margin-bottom: 20px;
}
.provider-details .glyphicon {
  padding-right: 5px;
}
