@rad-dark-grey: #393536;
@rad-medium-grey: #716e6e;
@rad-light-grey: #bdbcbc;
@rad-purple: #3c204d;
@rad-pink: #e97bc4;
@rad-blue: #9ec8d9;

html {
	background-color: @rad-purple;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: @rad-dark-grey;
}

a {
	color: inherit;
	border-bottom: 1px @rad-purple dotted;

	&:hover {
		color: @rad-pink;
		text-decoration: none;
		border-bottom: 1px @rad-pink solid;

		// Don't apply this hover style to buttons
		&.btn {
			border-bottom: none;
		}
	}
}

// Ignore the border bottom and hover information for
// items in the Bootstrap multiselects
.multiselect-container a {
	border-bottom: none;

	&:hover {
		border-bottom: none;
	}
}

// Override the primary style for buttons
.btn.btn-primary {
	background-color: @rad-purple;

	// Based on the original Bootstrap variables.less
	border-color: darken(@rad-purple, 5%);
}

h1, .h1 {
	color: @rad-purple;
	font-family: 'Brush Script MT', 'Mistral', sans-serif;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-top: -10px;
}

h2, .h2 {
	font-size: 2em;
	color: @rad-purple;
	font-weight: bold;
	text-align: center;
	border-bottom: solid @rad-purple;
	text-transform: uppercase;
}

h3, .h3 {
	font-size: 1.4em;
	color: @rad-purple;
	font-weight: bold;
}

// The default <small> styling is hard to read, as it's gray, 
// so we'll desaturate it for the headers in which we're overriding the color.
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small {
  color: desaturate(@rad-purple, 25%); 
  font-style: italic;
}

h4, .h4 {
	font-weight: bold;
}

h5, .h5 {
	font-weight: bold;
	font-size: 1.3em;
}

p {
	width: 90%;
	font-size: 1.3em;
}

// The nl2br filter wraps elements in a paragraph tag,
// so we need to override that styling for the appropriate fields
.text-block {
	p {
		width: inherit;
		font-size: inherit;
		margin: 0;
	}
	
	// Add some spacing between wrapped elements
	p + p {
		margin-top: 5px;
	}
}

dt {
	color: @rad-purple;
	margin-top: 10px; 
	font-size: 1.1em;
}

blockquote {
  border-left-color: @rad-purple;
}

// Style the "Recently Added" panels
div.panel.recently-added {
	border: 1px dashed @rad-dark-grey;

	div.panel-heading {
		background-color: @rad-purple; 
		color: #fff;
	}

	// Cap the height of these panels and ensure we don't overflow
	div.panel-body {
		height: 7.8em;
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
	}
}

div.header.row {
	// Ensure we have a minimum height, but it can get larger
	// in smaller views when the columns break.
	min-height: 60px;
	padding: 10px;
	background-color: @rad-purple; 
	border-bottom: solid @rad-blue 3px;
	color: white; 

	// For medium and large views, vertically-align each of the items in the row
	@media (min-width: 992px) {
		> div {
			display: inline-block;
    	vertical-align: middle;
    	float: none;
  	}
	}

	div.icon-col {
		img.logo {
			margin: 0;
			padding: 0;
			max-width: 300px;
		}

		// Disable decoration on the RAD icon link to the main page
		a {
			text-decoration: none;
			border-bottom: none;
		}		
	}

	div.simple-search-col {
		div.simple-search-break {
			visibility: hidden;
		}
	}

	@media (min-width: 992px) {
		// Allow the logo to go as big as it can
		div.icon-col img.logo {
			max-width: 100%;
		}

		// Don't break the search button on a new line in medium/large views
		div.simple-search-break {
			display: none;
		}

		// Start aligning the form groups for collapsing purposes
		div.form-group {
			margin-bottom: 0.5em;
			vertical-align: middle;

			// Make the labels take up their own line and use a fixed
			// width for alignment purposes
			> label.control-label {
				display: block;
				width: 2em;
			}

			// Scale down the width of the input/form groups
			// so we have room for the search button
			> input.form-control {
				width: 80%;
				vertical-align: middle;
			}
			
			// Reserve an extra 10% for the search button
			> div.input-group {
				width: 70%;
				// Need this for the search button to stay on the line
				display: inline-table;
				vertical-align: middle;
			}			
		} // div.form-group
	} // min-width: 992px

	// Turn into a form-inline equivalent at 1400px
	@media (min-width: 1400px) {
		// Add some top padding to align better with the arrow
		div.simple-search-col {
			padding-top: 2em;
		}

		// The 1em discrepancy here is based on the additional bottom margin
		// used by the form-groups
		div.account-col {
			padding-top: 1em;
		}

		form.simple-search {		
			// Use a set width for inputs
			div.form-group {
				width: 45%;
				display: inline-block;

				// Collapse labels to inline-block
				> label.control-label {
					display: inline-block;
					margin-right: 5px;
					text-align: right;
				}

				// Make sure the text input displays as inline-block
				> input.form-control {
					display: inline-block;
				}
			} // div.form-group
		} // form.simple-search
	}

	// Ensure the logout button (which needs its own form for CSRF protection)
	// is properly lined up and doesn't have a weird left-side border
	.btn-group {
		// Prevent ugly wrapping
		white-space: nowrap;

		form {
			display: inline-block;
			margin-left: -1px;

			.btn {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		// Don't float the account buttons in extra-small/small views
		@media (max-width: 991px) {
			&.pull-right {
				float: none !important;
			}
		}		
	}

	div.account-col {
		// Push the "X" on the emergency exit button a little lower
		span.glyphicon.glyphicon-remove {
			top: 2px;
		}
	}
}

div.row.bar {
	color: #fff;
	background-color: @rad-purple;

	.nav {
		// Expand size of navigation options
		font-size: 1.2em;

		// Disable decoration on links in our navbar
		a {
			text-decoration: none; 
			border-bottom: 0;

			&:hover {
				text-decoration: none; 
				border-bottom: 0;
			}
		}

		// Add extra styling to "Donate Now"
		li.donate-button {
			background-color: @rad-pink;
			border-radius: 6px;
			margin: 3px 0px 2px 2px;
			font-weight: bold;

			// Decrease padding on the actual nav item
			// to compensate for the extra margin
			> a {
				padding: 7px 15px;
			}
		}
	}
}

// Style the "Subscribe to our mailing list" and "Help keep RAD going!"
.footer-msg {
	width: 80%;
	margin-top: 10px; 
	margin-bottom: 10px; 
	padding: 10px;

	background-color: #fff;
	color: @rad-purple; 
	text-align: center;
	font-size: 1.3em; 
	font-weight: bold;
	
	border-radius: 10px;
	border: solid @rad-blue 5px; 
}

.bottombar {
	padding-top: 20px;
	padding-bottom: 20px;

	color: #FFF;
	background-color: @rad-purple;

	font-size: 1.5em;
	text-align: center;

	// Style the images in our social media links
	&.icon-list {
		margin-top: -20px;

		// Prevent styling for the image links
		a, a:hover {
			text-decoration: none;
			border-bottom: none;
		}

		img {
			width: 60px;
			margin-right: 20px;

			background-color: #fff;
			border: solid 5px #fff;
		}
	}

	// Add horizontal spacing between the Privacy Policy/TOS/etc
	// links
	span.glyphicon.glyphicon-heart {
		margin: 0px 5px;
	}
}

// Style the jumbotron on our front page
.jumbotron {
	padding: 15px; 
	margin-top: 15px; 
	overflow: auto; 

	// Add a touch of extra spacing after the lead
	// in md/lg views
	@media (min-width: 992px) {
		p.lead {
			margin-bottom: 1em;
		}
	}

	// Style the actions on the front page
	div.row.fp-actions {
		h3 {
			text-align: center;
		}

		// Use center-block and img-responsive for images
		// in all views
		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin-right: auto;
			margin-left: auto;
		}

		// Center-align paragraphs for md/lg views
		@media (min-width: 992px) {
			p {
				display: block;
				margin-right: auto;
				margin-left: auto;
				text-align: center;
			}
		}

		// Add some extra top padding to images in smaller views
		@media (min-width: 500px) and (max-width: 991px) {
			img {
				padding-top: 2em;
			}
		}

		@media (max-width: 499px) {
			img {
				padding-top: 12vw;
			}
		}
	}
}

// Style the main content body
.content {
  width: 90%;
	margin-left: auto;
  margin-right: auto;
}

.provider {
	margin-top: 10px; 
}

.tags {
	color: @rad-medium-grey;
	font-size: 1.3em; 
}

.contact-box {
	width: 100%;
	margin: 5px; 
	padding: 10px; 
	border-radius: 5px; 
	background-color: #eee;
	font-size: 1.2em;
	word-wrap: break-word;

	& .glyphicon {
		font-size:2.5em;
		display: block;
		text-align: right; 
	}

	& .row {
		margin-bottom: 10px; 
	}
}

.provider-details {
	border-top: 3px @rad-purple solid; 
	border-bottom: 3px @rad-purple solid; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	margin-top: 5px; 
	margin-bottom: 5px; 
	width: 100%; 
	font-size: 1.5em; 

	span {
		margin-bottom: 20px; 
	}

	& .glyphicon {
		padding-right: 5px; 
	}
}

// Style rating details
span.badge {
	
	&.rating-1 {
		background-color: @rad-blue;
		color: contrast(@rad-blue, black, white);
	}

	&.rating-2 {
		background-color: average(@rad-purple, @rad-blue);
		color: contrast(average(@rad-purple, @rad-blue), black, white);
	}

	&.rating-3 {
		background-color: @rad-purple;
		color: contrast(@rad-purple, black, white);
	}

	&.rating-4 {
		background-color: average(@rad-purple, @rad-pink);
		color: contrast(average(@rad-purple, @rad-pink), black, white);
	}

	&.rating-5 {
		background-color: @rad-pink;
		color: contrast(@rad-pink, black, white);
	}
}

// Style aggregate review scores
div.scores-list-group ul.list-unstyled li {
	line-height: 1.75;

	span.label {
		font-size: 1em;
		padding-top: 0.1em;
		padding-bottom: 0.1em;
	}
}

// In smaller views, tweak the autocomplete so it's a little easier to tap
@media (max-width: 767px) {
	.pac-container {
		zoom: 1.1;

		.pac-item:first-child { 
    	margin-top: 15px;
		}
	}
}

// Bootstrap override of validation styles
.has-feedback {
	// Don't style the control labels
	label.control-label {
		color: inherit;
	}

	// Use the standard help-block style
	.help-block {
		color: #737373;
	}

	// Disable the IE clear button when we're showing an icon
	input::-ms-clear {
		display: none;
	}
}
