
/*************************************

  Colors

Dark grey - #393536
Light grey - #bdbcbc
Blue - #9ec8d9
Pink - #e97bc4
Purple - #3c204d 

*************************************/
body {
	background-color: #393536; 
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fff;
}

.nav-bar {
	padding:0;
	background: url('../img/nav_bg.png') repeat-x;
}

.home-search {
	background: url('../img/purple_bkgd.png');
	background-size:200%; 
	min-height: 600px; 
	font-size: 2.8em; 
}

.home-featured {
	background-color: #bdbcbc;
	min-height: 600px;  
}

.recently-added {
	margin-top: 2px; 
	background-color: #fff;
	min-height: 300px;  
}

.recently-added-block {
	float:right;
	margin-right: 20px; 
	min-height: 260px;
	background: url('../img/recently_added_bkgd.png');
	background-size: contain; 
	background-repeat: no-repeat;
	margin-top: 7px; 
	padding-top: 40px; 
	width:260px; 
	text-transform: uppercase;
}

.recently-added-date {
	margin-left: 75px; 
	font-size: 2.2em;
	line-height: .7em; 

}

.recently-added-category {
	margin-left: 75px; 
	font-style: italic;
	font-size:1.4em;
	
}

.recently-added-text {
	margin-left: 25px; 
	font-size: 2.2em;
	width: 80%; 
	line-height: 1.2em;
}

.simple-search {
	font-size: .8em; 
}

.form-remedy {
	color: #393536;
}

.search-btn {
	font-size: 1em; 
	color: #393536;
	margin-top: 5px;  
	border-radius: 8px;
	padding: 8px; 
	background-color: #fff;
}

.search-btn:hover {
   background: #393536;
   color: #bdbcbc;
}

.content-temp {
	margin-top: 8px; 
	background: #bdbcbc;
	font-size: 1.5em; 
	padding: 15px;
	color: #393536;
	border-radius: 8px; 
}
