{% extends 'base.html' %}

{% block title %}RAD Remedy - Page Not Found{% endblock %}
{% block head_text %}Page Not Found{% endblock %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}

    <h2>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;
        404 - Page Not Found
    </h2>
    <p>
        We help you find your remedy, but unfortunately it's not available here.
    </p>
    <p>
        If you think you've found a bug, please <a href="http://goo.gl/forms/FDL5BM94g4" target="_blank">fill out this form</a>.
    </p>

{% endblock %}