{% extends 'base.html' %}

{% block title %}RAD Remedy - Server Error{% endblock %}
{% block head_text %}Server Error{% endblock %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}

    <h2>
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;
        500 - Server Error
    </h2>
    <p>
        We help you find your remedy, but sometimes the server needs one too.
    </p>
    <p>
        If you think you've found a bug, please email 
        <a href="mailto:info@radremedy.org?subject=500%20Error">the RAD Remedy team</a> describing
        what you were trying to do. Our staff of trained code swashbucklers will work
        on fixing the problem.
    </p>
    {% if current_user.admin and error_info != None %}
    <h3>Error Information</h3>
    <p>
        {{ error_info|pprint }}
    </p>
    {% endif %}     

{% endblock %}