{% extends 'base.html' %}

{% block title %}Rad Remedy - About RAD Remedy{% endblock %}
{% block head_text %}About RAD Remedy{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}

    <h2 class="text-uppercase">Mission</h2>
    <p>RAD’s Remedy's mission is to connect trans, gender non-conforming, intersex, and queer people to accurate, safe, respectful, and holistic care in order to improve individual and community health.</p>

    <h2 class="text-uppercase">Who We Are</h2>
    <p>RAD Remedy is collectively operated via two teams (each in alphabetical order by first name – hover for bio). We operate virtually via Google Hangouts and our team members are from various locations across the country. We are based operationally in Chicago, Illinois and are a 501(c) (3) fiscally-sponsored organization: </p>
    <h3 class="text-uppercase">Oraganizational Team</h3>
    <ul class="rad-ul list-unstyled">
        <li>Allie Deford, Technical Director</li>
        <li>Daniel Herrle, Design Director</li>
        <li>Eliot Colin, Outreach Director</li>
        <li>Rachel Hennessy, Operations Director</li>
        <li>Riley Johnson, Executive Director</li>
    </ul>
    <h3 class="text-uppercase">Technical Team</h3>
    <ul class="rad-ul list-unstyled">
        <li>Allie Deford</li>
        <li>Cate Sparkles</li>
        <li>Daniel Herrle</li>
        <li>Wilberto Morales</li>
    </ul>
    <h3 class="text-uppercase">Board of Directors</h3>
    <p>Coming Soon!</p> 
    <h3 class="text-uppercase">501(c)(3) Fiscal Sponsor</h3>
    <p>FORGE, Inc. of Milwaukee, Wisconsin</p>

    <h2 class="text-uppercase">History</h3> 
    <p>RAD Remedy got its start during <a href="http://www.transhack.org/">Trans*H4ck</a> Chicago in March 2014. Through the collaborative processes that happen at hackathons, Eliot, Rachel, and Riley honed our initial idea in conversation with other attendees, and presented our wireframe and minimal viable product. The judges awarded our project with the top honors of the hack, resulting in $500 in seed money through Amazon Web Services. We determined that the best way forward would be by engaging in a needs assessment survey of both individuals and organizations, so we would know the needs and desires of many folks within our community and could build a tool that serves folks well. 

    We presented at TransOhio and exhibited at Philly Trans Health Conference, meeting folks, sharing stories, and collecting many survey responses along the way. Since then, we’ve had many more responses via our web-based version of the survey, providing a clear understanding of what many folks need and how we can best go forward. Through these experiences, we also gained additional team members Allie, Cate, Dan, and Wil, and the current RAD Remedy collective was born.</p>

    <h2 class="text-uppercase">Looking Forward</h2>
    <p>In a short time, RAD Remedy will develop RAD (Referral Aggregator Database), a comprehensive and nationally-collaborative database that uses the referral lists of trusted community organizations and the detailed reviews of folks like you.
    In addition, we plan on unveiling a feature known as “RAD Certified” where providers provide evidence of continuing education they’ve completed on topics related to our community, and in turn, we provide a special badge for them on the site and optimized search results for you.

    Other future plans include talking with the community about our rights in various environments and situations, translation of our site and database into as many languages as possible, and consulting services for providers’ intake forms and other systems.

    If you’ve got other great ideas or want to be a part of the action in some way, write to us at <a href="mailto:board@radremedy.org">board@radremedy.org</a>. We welcome questions and feedback there too. Thanks for your interest!</p>

<br>
{% endblock %}