{% extends 'base.html' %}

{% block title %}RAD Remedy - About RAD Remedy{% endblock %}
{% block head_text %}About RAD Remedy{% endblock %}
{% block og_desc %}RAD Remedy's mission is to connect trans, gender non-conforming, intersex, and queer folks to accurate, safe, respectful, and comprehensive care in order to improve individual and community health.{% endblock %}

{% block content %}

<h2>About RAD Remedy</h2>

<h3>Mission</h3>
<blockquote>
    RAD Remedy's mission is to connect trans, gender non-conforming, intersex, 
    and queer folks to accurate, safe, respectful, and comprehensive care in order 
    to improve individual and community health.
</blockquote>

<h3>Who We Are</h3>
<p>
    RAD Remedy is collectively operated via two units (each in alphabetical order by first name). 
    We operate virtually via Google Hangouts and our team and board members are from various locations 
    across the country. We are based operationally in Chicago, Illinois and are a 501(c) (3) 
    fiscally-sponsored organization:
</p>

<h4>Team</h4>
<ul>
    <li>Allie Deford, <em>Technical Director</em></li>
    <li>Cate Sparkles, <em>Lead Developer</em></li>
    <li>Daniel Herrle, <em>Design Director</em></li>
    <li>Eliot Colin, <em>RAD Director</em></li>
    <li>Rachel Hennessy, <em>Director of Operations</em></li>
    <li>Riley Johnson, <em>Executive Director</em></li>
    <li>Rowan Lowden, <em>Outreach Director</em></li>
</ul>

<h4>Board of Directors</h4>
<ul>
    <li>Bre Kidman</li>
    <li>Chef Fresh Roberson, <em>Board Chair</em></li>
    <li>Elayne Wylie</li>
    <li>Hale Thompson</li>
    <li>Lars Mackenzie</li>
    <li>Noam Ostrander</li>
    <li>Riley Johnson, <em>Ex officio</em></li>
</ul>

<h4>501(c)(3) Fiscal Sponsor</h4>
<p>
    FORGE, Inc. of Milwaukee, Wisconsin
</p>

<h3>History</h3>
<p>
    RAD Remedy got its start during <a href="http://www.transhack.org/" target="_blank">Trans*H4ck</a> 
    Chicago in March 2014. Through the collaborative processes that happen at hackathons, 
    Eliot, Rachel, and Riley honed our initial idea in conversation 
    with other attendees, and presented our wireframe and minimal viable product. 
    The judges awarded our project with the top honors of the hack, 
    resulting in $500 in seed money through Amazon Web Services. 
    We determined that the best way forward would be by engaging in 
    a needs assessment survey of both individuals and organizations, 
    so we would know the needs and desires of many folks within our 
    community and could build a tool that serves folks well. 
</p>
<p>
    We presented at TransOhio and exhibited at Philly Trans Health Conference, 
    meeting folks, sharing stories, and collecting many survey responses along the way. 
    Since then, we've had many more responses via our web-based version of the survey, 
    providing a clear understanding of what many folks need and how we can best go forward. 
    Through these experiences, we also gained additional team members Allie, Cate, and Dan, 
    and the current RAD Remedy team was born.
</p>
<p>
    On January 1, 2015, we seated our first-ever board of directors, 
    with members hailing from many locations across the United States. 
    Shortly thereafter, Andrea Zekis and Chef Fresh Roberson were selected by the board 
    as Co-Chairs. In addition, we gained an additional twenty volunteers 
    dedicated to data maintenance and curation.
</p>
<p>
    In June of 2015 we launched the beta release of <a href="{{ url_for('remedy.resource_search', autofill='1') }}">RAD (Referral Aggregator Database)</a>, 
    a comprehensive and nationally-collaborative database currently in development 
    that uses the referral lists of trusted community organizations 
    and the detailed reviews of folks like you so we all get better care. 
    Since then, we've been working on adding more providers 
    and making it easier for you to find the care you need. 
    Curious about the beta? 
    Read more <a href="{{ url_for('remedy.about_the_beta') }}">about the RAD beta launch</a>.
</p>

<h3>Looking Forward</h3>
<p>
    We plan on unveiling a feature known as &quot;RAD Certified&quot;
    where providers provide evidence of continuing education they've completed 
    on topics related to our community, and in turn, we provide a special badge 
    for them on the site and optimized search results for you.                  
</p>    
<p>
    Other future plans include talking with the community about our rights 
    in various environments and situations, translation of our site and database 
    into as many languages as possible, and consulting services for providers' 
    intake forms and other systems. You can read more about our future
    plans at the <a href="{{ url_for('remedy.projects') }}">RAD Projects</a> page.
</p>
<p>
    If you've got other great ideas or want to be a part of the action in some way, 
    write to us at <a href="mailto:board@radremedy.org">board@radremedy.org</a>. 
    We welcome questions and feedback there too. Thanks for your interest!
</p>

{% endblock %}