{% extends 'base.html' %}

{% block title %}RAD Remedy - Add a Review{% endblock %}
{% block head_text %}Add a Review{% endblock %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
<link href="{{ url_for('static', filename='css/review.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>Add a Review</h2>

<p class="lead">
  Share your own experience with {{ provider.name }} here!
</p>

{% if has_existing_review %}
<p class="alert alert-warning">
  You have already reviewed this provider. If you leave a new review,
  your new rating will be applied, but any previous reviews
  will still be visible.
</p>
{% endif %}

<form role="form" method="post" action="{{ url_for('remedy.new_review', resource_id=provider.id) }}">

  {{ form.csrf_token }}
  
  {% include "review-block.html" with context %}

  {{ form.submit(class_="btn btn-primary btn-lg") }}
  <a href="{{ url_for('remedy.resource', resource_id=provider.id) }}" class="btn btn-lg">
    Cancel
  </a>

</form>
{% endblock %}

{% block scripts %}
{% include "review-block-scripts.html" with context %}
{% endblock %}