{% extends 'base.html' %}

{% block title %}RAD Remedy - Submit a Provider{% endblock %}
{% block head_text %}Submit a Provider{% endblock %}

{% macro rating_description(rating) %}
{% if rating == "5" %}
5 - I had a very good experience
{% elif rating == "4" %}
4 - I had a good experience
{% elif rating == "3" %}
3 - I had a neutral experience
{% elif rating == "2" %}
2 - I had a bad experience
{% elif rating == "1" %}
1 - I had a very bad experience
{% else %}
N/A
{% endif %}
{% endmacro %}

{% macro radio_set(radiofield) %}
{# Do this in reverse order because every one will be floated right #}
{% for r in radiofield|reverse %}
{{ r }}
<label for="{{ r.id }}" data-val="{{ r.label.text }}" title="{{ rating_description(r.label.text) }}">
  {{ r.label.text }}
</label>
{% endfor %}
{% endmacro %}

{% macro popover(id) %}
<button id="{{ id }}" class="btn btn-link rad-popover" type="button">
  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
  <span class="sr-only">Things to Consider</span>
</button> 
{% endmacro %}

{% macro form_group(field, extra=None) %}
{% set field_args = {"class_": "form-control"} %}
{# Merge in extra fields if specified #}
{% if extra and extra is mapping %}
  {% set _dummy = field_args.update(extra) %}
{% endif %}
{# Mark the field as required if specified #}
{% if field.flags.required %}
  {% set _dummy = field_args.update({"required": "required"}) %}
{% endif %}
{# Set min/max length if specified #}
{% if field.type == "StringField" or field.type == "TextAreaField" %}
  {% for val in field.validators %}
    {% if val.min and val.min > 0 %}
      {% set _dummy = field_args.update({"minlength": val.min}) %}
    {% endif %}
    {% if val.max and val.max > 0 %}
      {% set _dummy = field_args.update({"maxlength": val.max}) %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="form-group">
  <label for="{{ field.id }}" class="control-label">
    {{ field.label.text }}
  </label>
{% if field.description %}
  {% set _dummy = field_args.update({"aria-describedby": field.id + "-help"}) %}
  <div class="help-block" id="{{ field_args['aria-describedby'] }}">
    {{ field.description|nl2br }}
  </div>
{% endif %}
  {{ field(**field_args) }}
</div>
{% endmacro %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
<link href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/review.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<h2>Submit a Provider</h2>

<p>
  Want to submit a new provider into the database? Add them here!<br />
  <br />
  We ask that you only submit providers that you've personally visited,
  and so we require that you include a review with your submission.<br />
  <br />
  If you are a provider and would like to add yourself to the database, please fill out our <a href="http://goo.gl/forms/V3FSiEyiXq" target="_blank">Provider Self-Input form</a>!
</p>

<form role="form" method="post" action="{{ url_for('remedy.submit_provider') }}">

  {{ form.csrf_token }}

  <h3>
    Provider Information
  </h3>

  {{ form_group(form.provider_name) }}
  {{ form_group(form.organization_name) }}
  {{ form_group(form.description, {"rows": "3"}) }}

  {{ form_group(form.address) }}
  {{ form_group(form.phone_number) }}
  {{ form_group(form.fax_number) }}
  {{ form_group(form.email) }}
  {{ form_group(form.website) }}

  {{ form_group(form.office_hours, {"rows": "3"}) }}
  {{ form_group(form.categories, {"data-nounplural": "services", "rows": "6"}) }}
  {{ form_group(form.populations, {"data-nounplural": "populations", "rows": "6"}) }}

  {{ form_group(form.hospital_affiliation, {"rows": "3"}) }}
  {{ form_group(form.is_icath) }}
  {{ form_group(form.is_wpath) }}
  {{ form_group(form.is_accessible) }}
  {{ form_group(form.has_sliding_scale) }}

  {{ form_group(form.npi) }}
  {{ form_group(form.other_notes, {"rows": "3"}) }}

  <hr />

  <h3>
    Your Review
  </h3>

  <div class="form-group clearfix">
    <div>
      {{ form.rating.label }}
      {{ popover("rating-popover") }}
    </div>
    <div class="rating">
      {{ radio_set(form.rating) }}
    </div>
  </div>

  <div class="form-group clearfix">
    <div>
      {{ form.intake_rating.label }}
      {{ popover("intake-popover") }}
    </div>
    <div class="rating">
      {{ radio_set(form.intake_rating) }}
    </div>
  </div>

  <div class="form-group clearfix">
    <div>
      {{ form.staff_rating.label }}
      {{ popover("staff-popover") }}
    </div>
    <div class="rating">
      {{ radio_set(form.staff_rating) }}
    </div>
  </div>

  {{ form_group(form.review_comments, {"rows": "3"}) }}

  {{ form.submit(class_="btn btn-primary btn-lg", onclick="return confirm('Once you have submitted this provider, you cannot make any further changes. Are you ready to submit them?');") }}
  <a href="{{ url_for('remedy.index') }}" class="btn btn-lg">
    Cancel
  </a>

</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap-multiselect.min.js') }}"></script>
<script type="text/javascript">
window.Remedy.makeBootstrapMultiselect("{{ form.categories.id }}");
window.Remedy.makeBootstrapMultiselect("{{ form.populations.id }}");
</script>
<script type="text/javascript">
  $(function () {
    var popoverOptions = {
      html: true,
      trigger: 'click',
      title: 'Things to Consider'
    };

    $("#intake-popover").popover($.extend({
      content: '<ul>' +
        '<li>Were the intake forms inclusive?</li>' +
        '<li>Did the staff address your concerns?</li>' +
        '<li>Did they use the correct name?</li></ul>'
      }, popoverOptions));

    $("#rating-popover").popover($.extend({
      content: '<ul>' +
        '<li>Were they respectful of you and your identities?</li>' +
        '<li>Were they knowledgable about your identities?</li>' +
        '<li>Were they interested in learning about your identities?</li></ul>'
      }, popoverOptions));

    $("#staff-popover").popover($.extend({
      content: '<ul>' +
        '<li>Were they respectful of you and your identities?</li>' +
        '<li>Did they use the correct name and pronouns?</li></ul>'
      }, popoverOptions));
  }); 
</script>
{% endblock %}