{% import 'macros.html' as macros with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}RAD Remedy{% endblock %}</title>

    {{ macros.cdn_style("fonts.googleapis.com/css?family=Open+Sans") }}
    {{ macros.cdn_style("maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css") }}

    <link href="{{ url_for('static', filename='css/remedy.css') }}" rel="stylesheet">

    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:site_name" content="RAD Remedy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ macros.schemify_url("radremedy.org") }}{{ request.path }}" />
    <meta property="og:description" content="{% block og_desc %}RAD Remedy is an organization focused on healthcare for trans, gender non-conforming, intersex &amp; queer folks. Our main project is the RAD database, which is filled with community-reviewed providers.{% endblock %}" />
    <meta property="og:image" content="http://radremedy.org{{ url_for('static', filename='img/rad_logo_purple.png') }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ self.title() }}">
    <meta name="twitter:site" content="@radremedy">
    <meta name="twitter:description" content="{{ self.og_desc() }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {{ macros.cdn_script("oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js") }}
      {{ macros.cdn_script("oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js") }}
    <![endif]-->

    {% block head %}{% endblock %}

    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/touch-icon-192.png') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon-180-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ url_for('static', filename='img/apple-touch-icon-152-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='img/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ url_for('static', filename='img/apple-touch-icon-120-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='img/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ url_for('static', filename='img/apple-touch-icon-76-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='img/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/apple-touch-icon-precomposed.png') }}">
  </head>
  <body>

  {# The comments between the divs here are used to ensure that there's no extra whitespace that throws off our inline-block display of items in the row. #}
  <div class="container-fluid">
    <div class="header row">
      <div class="col-md-3 col-sm-12 icon-col"> 
        <a href="{{ url_for('remedy.index') }}">
          <img alt="RAD Logo" src="{{ url_for('static', filename='img/new-purple-logo.png') }}" class="logo img-responsive" /><span class="sr-only">RAD Remedy</span>
        </a>
      </div><!--
      --><div class="col-md-6 col-sm-12 simple-search-col">
        <form class="simple-search" role="search"
          action="{{ url_for('remedy.resource_search') }}" method="GET">
          <div class="form-group">
            <label for="quick-search" class="control-label">
              Find
            </label>
            <input type="text" name="search" id="quick-search" class="form-control" placeholder="e.g. Top surgery or Dr. RAD" />
          </div>
          <div class="form-group">
            <label for="quick-addr" class="control-label">
              near
              <span class="sr-only js-feedback-label"></span>
            </label>
            <div class="input-group">
              <input type="text" name="addr" id="quick-addr" class="form-control" placeholder="e.g. Seattle, WA" autocomplete="off"
                value="{{ current_user.default_location|d('') if current_user and current_user.default_location != None }}" />
              <span class="glyphicon glyphicon-option-horizontal form-control-feedback invisible" aria-hidden="true"></span>                
              <span class="input-group-btn">
                <button id="quick-loc-lookup" class="btn btn-default" type="button" title="Use my current location">
                  <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                  <span class="sr-only">Use my current location</span>
                </button>
              </span>
            </div>
            <div class="simple-search-break">
              &nbsp;
            </div>
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              <span class="visible-xs-inline visible-sm-inline hidden-md hidden-lg">Search</span>
            </button>      
            <input type="hidden" name="lat" id="quick-lat"
              value="{{ current_user.default_latitude if current_user and current_user.default_latitude != None }}" />
            <input type="hidden" name="long" id="quick-long"
              value="{{ current_user.default_longitude if current_user and current_user.default_longitude != None }}" />
            <input type="hidden" name="dist" value="25" />
          </div>
        </form>      
      </div><!--
      --><div class="col-md-3 col-sm-12 account-col">
        <a href="http://www.google.com/" class="btn btn-default pull-right" title="Not in a safe space and need to leave the site quickly? Click here.">
          <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
          <span class="sr-only">Exit RAD Remedy</span>
        </a>
        <div class="btn-group pull-right" role="group">      
        {% if logged_in() %}
          <a href="{{ url_for('remedy.settings') }}" class="btn btn-default">
            Settings
          </a>
          {% if current_user.admin %}
          <a href="{{ url_for('admin.index') }}" class="btn btn-default">
            Admin
          </a>
          {% endif %}
          <form role="form" action="{{ url_for('auth.log_out') }}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn btn-default">
              Logout
            </button>
          </form>
        {% else %}
          <a href="{{ url_for('auth.sign_up') }}" class="btn btn-default">
            Sign Up
          </a>
          <a href="{{ url_for('auth.sign_in') }}" class="btn btn-default">
            Login
          </a>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="bar row">
      <div class="col-sm-12" role="navigation">
        <ul class="nav nav-pills hidden-xs">
          {#
          <li><a href="{{ url_for('remedy.how_to_use') }}">How to Use RAD</a></li>
          #}
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('remedy.about') }}">About RAD Remedy</a></li>
              <li><a href="{{ url_for('remedy.about_the_beta') }}">About the RAD Beta Launch</a></li>
            </ul>
          <li><a href="{{ url_for('remedy.projects') }}">RAD Projects</a></li>
          <li><a href="{{ url_for('remedy.get_involved') }}">Get Involved</a></li>
          <li><a href="{{ url_for('remedy.resource_search', autofill='1') }}">Find Resources <em>(Beta!)</em></a></li>
          <li><a href="{{ url_for('remedy.submit_provider') }}">Submit a Provider</a></li>
          <li><a href="{{ url_for('remedy.contact') }}">Contact Us</a></li>
          <li class="pull-right donate-button">
            <a href="{{ url_for('remedy.donate') }}" class="text-uppercase">
              Donate Now
            </a>
          </li>
        </ul>
        <ul class="nav nav-pills visible-xs">
          <li role="presentation" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              {#
              <li><a href="{{ url_for('remedy.how_to_use') }}">How to Use RAD</a></li>
              #}
              <li><a href="{{ url_for('remedy.about') }}">About RAD Remedy</a></li>
              <li><a href="{{ url_for('remedy.about_the_beta') }}">About the RAD Beta Launch</a></li>
              <li><a href="{{ url_for('remedy.projects') }}">RAD Projects</a></li>
              <li><a href="{{ url_for('remedy.get_involved') }}">Get Involved</a></li>
              <li><a href="{{ url_for('remedy.resource_search', autofill='1') }}">Find Resources <em>(Beta!)</em></a></li>
              <li><a href="{{ url_for('remedy.submit_provider') }}">Submit a Provider</a></li>
              <li><a href="{{ url_for('remedy.contact') }}">Contact Us</a></li>
            </ul>
          </li>
          <li class="pull-right donate-button">
            <a href="{{ url_for('remedy.donate') }}" class="text-uppercase">
              Donate Now
            </a>
          </li>
        </ul>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12">
      {% block flashes %}
        {% if get_flashed_messages() %}
          <br />
          {{ macros.render_flashed_messages() }}
        {% endif %}
      {% endblock %}
      <div class="content">
      {% block content %}{% endblock %}
      </div>
      <br>
    </div>
  </div>
  <div class="row bar">
    <div class="col-sm-6">
      <div class="footer-msg text-uppercase center-block"><a href="http://radremedy.us8.list-manage2.com/subscribe?u=801d90c3b0bd8cde1a0a9c4b8&amp;id=091b50f9a7">Subscribe to our mailing list</a></div>
    </div>
    <div class="col-sm-6">
      <div class="footer-msg text-uppercase center-block">Help keep RAD going! <a href="{{ url_for('remedy.donate') }}">Donate here!</a></div>
    </div>
  </div>
  <div class="row bottombar">
    <div class="text-uppercase">Connect with RAD on social media:</div>
  </div> 
  <div class="row bottombar icon-list">
    <a href="https://www.facebook.com/radremedy">
      <img alt="Facebook" class="img-circle" src="{{ url_for('static', filename='img/fb.png') }}">
    </a>
    <a href="https://twitter.com/radremedy">
      <img alt="Twitter" class="img-circle" src="{{ url_for('static', filename='img/twitter.png') }}">
    </a>
    <a href="http://radremedy.tumblr.com/">
      <img alt="Tumblr" class="img-circle" src="{{ url_for('static', filename='img/tumblr.png') }}">
    </a>
    <a href="http://radremedy.us8.list-manage2.com/subscribe?u=801d90c3b0bd8cde1a0a9c4b8&amp;id=091b50f9a7">
      <img alt="Mailing List" class="img-circle" src="{{ url_for('static', filename='img/mail-chimp.png') }}">
    </a>
  </div>
  <div class="row bottombar">
    <a href="{{ url_for('remedy.terms_of_service') }}">
      Terms of Service
    </a>
    <span class="glyphicon glyphicon-heart" aria-hidden="true">
    </span>
    <a href="{{ url_for('remedy.privacy_policy') }}">
      Privacy Policy
    </a>
    <span class="glyphicon glyphicon-heart" aria-hidden="true">
    </span>    
    <a href="{{ url_for('remedy.disclaimer') }}">
      Legal Disclaimer
    </a>
  </div>
</div>

  {{ macros.cdn_script("code.jquery.com/jquery-1.11.3.min.js") }}
  {{ macros.cdn_script("maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js") }}
  <script src="{{ url_for('static', filename='js/remedy.min.js') }}"></script>
  {{ macros.gmaps_script_include() }}
  {{ macros.gmaps_script(false, 'quick-addr', 'quick-lat', 'quick-long') }}
  <script type="text/javascript">
    window.Remedy.geoLocationButton('quick-loc-lookup', 'quick-addr', 'quick-lat', 'quick-long');
  </script>
  {% block scripts %}{% endblock %}

  </body>
</html>
