{% import 'macros.html' as macros with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}RAD Remedy{% endblock %}</title>

    {{ macros.cdn_style("fonts.googleapis.com/css?family=Open+Sans") }}
    {{ macros.bootstrap_cdn_style() }}

    <link href="{{ url_for('static', filename='css/remedy.css') }}" rel="stylesheet">
    <link rel="canonical" href="{{ config.BASE_URL }}{{ request.path }}">

    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:site_name" content="RAD Remedy" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ macros.schemify_url("radremedy.org") }}{{ request.path }}" />
    <meta property="og:description" content="{% block og_desc %}RAD Remedy is an organization focused on healthcare for trans, gender non-conforming, intersex &amp; queer folks. Our main project is the RAD database, which is filled with community-reviewed providers.{% endblock %}" />
    <meta property="og:image" content="http://radremedy.org{{ url_for('static', filename='img/rad_logo_purple.png') }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ self.title() }}">
    <meta name="twitter:site" content="@radremedy">
    <meta name="twitter:description" content="{{ self.og_desc() }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      {{ macros.cdn_script("oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js") }}
      {{ macros.cdn_script("oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js") }}
    <![endif]-->

    {% block head %}{% endblock %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/manifest.json') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img/safari-pinned-tab.svg') }}" color="#3c204d">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <meta name="msapplication-config" content="{{ url_for('static', filename='img/browserconfig.xml') }}">
    <meta name="theme-color" content="#3c204d">
  </head>
  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('remedy.index') }}">
          <img alt="RAD Remedy" src="{{ url_for('static', filename='img/new-purple-logo.png') }}" class="hidden-xs" style="display: inline-block; height: 50px; margin-top: -15px;" />
          <span class="visible-xs-block" style="color: white;">RAD Remedy</span>
        </a>
        <a class="navbar-brand sr-only sr-only-focusable" style="color: white; font-size: 14px" href="#main-content">
          Skip to main content
        </a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="rad-nav-break-hide">
            <a href="{{ url_for('remedy.resource_search', autofill='1', _anchor='results') }}">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              Find Resources
            </a>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
              About <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('remedy.about') }}">About RAD Remedy</a></li>
              <li><a href="{{ url_for('remedy.projects') }}">Projects</a></li>
              <li><a href="{{ url_for('remedy.news') }}">News</a></li>
              <li><a href="{{ url_for('remedy.get_involved') }}">Get Involved!</a></li>
              <li><a href="{{ url_for('remedy.contact') }}">Contact Us</a></li>
            </ul>
          </li>
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
              RAD <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li class="rad-nav-break-show">
                <a href="{{ url_for('remedy.resource_search', autofill='1', _anchor='results') }}">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  Find Resources
                </a>
              </li>
              <li><a href="{{ url_for('remedy.how_to_use') }}">How to Use RAD</a></li>
              <li><a href="{{ url_for('remedy.submit_provider') }}">Submit a Provider</a></li>
              <li><a href="{{ url_for('remedy.rad_faq') }}">Frequently Asked Questions</a></li>
            </ul>
          </li>
          <li>
            <a href="http://zines.radremedy.org/">Zines</a>
          </li>
          <li>
            <a href="https://radremedy.nationbuilder.com/">
              Donate!
            </a>
          </li>
        </ul>
        {% if logged_in() %}
        <form role="form" action="{{ url_for('auth.log_out') }}" method="POST" class="navbar-form navbar-right">
          <div class="btn-group" role="group">
            <a href="{{ url_for('remedy.settings') }}" class="btn btn-link">
              Settings
            </a>
            {% if current_user.admin %}
            <a href="{{ url_for('admin.index') }}" class="btn btn-link">
              Admin
            </a>
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="submit" class="btn btn-link">
              Logout
            </button>
        </form>
        {% else %}
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="{{ url_for('auth.sign_up') }}">
              Sign Up
            </a>
          </li>
          <li>
            <a href="{{ url_for('auth.sign_in') }}">
              Login
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      {% block flashes %}
        {% if get_flashed_messages() %}
          <br />
          {{ macros.render_flashed_messages() }}
        {% endif %}
      {% endblock %}
      <div id="main-content" class="content anchor-offset">
      {% block content %}{% endblock %}
      </div>
      <br>
    </div>
  </div>
  <div class="row bar">
    <div class="col-sm-6">
      <div class="footer-msg text-uppercase center-block"><a href="http://radremedy.us8.list-manage2.com/subscribe?u=801d90c3b0bd8cde1a0a9c4b8&amp;id=091b50f9a7">Subscribe to our mailing list</a></div>
    </div>
    <div class="col-sm-6">
      <div class="footer-msg text-uppercase center-block">Help keep RAD going! <a href="https://radremedy.nationbuilder.com/">Donate here!</a></div>
    </div>
  </div>
  <div class="row bottombar">
    <div class="text-uppercase">Connect with RAD on social media:</div>
  </div> 
  <div class="row bottombar icon-list">
    <a href="https://www.facebook.com/radremedy">
      <img alt="Facebook" class="img-circle" src="{{ url_for('static', filename='img/fb.png') }}">
    </a>
    <a href="https://twitter.com/radremedy">
      <img alt="Twitter" class="img-circle" src="{{ url_for('static', filename='img/twitter.png') }}">
    </a>
    <a href="http://radremedy.tumblr.com/">
      <img alt="Tumblr" class="img-circle" src="{{ url_for('static', filename='img/tumblr.png') }}">
    </a>
    <a href="http://radremedy.us8.list-manage2.com/subscribe?u=801d90c3b0bd8cde1a0a9c4b8&amp;id=091b50f9a7">
      <img alt="Mailing List" class="img-circle" src="{{ url_for('static', filename='img/mail-chimp.png') }}">
    </a>
  </div>
  <div class="row bottombar">
    <a href="{{ url_for('remedy.terms_of_service') }}">
      Terms of Service
    </a>
    <span class="glyphicon glyphicon-heart" aria-hidden="true">
    </span>
    <a href="{{ url_for('remedy.privacy_policy') }}">
      Privacy Policy
    </a>
    <span class="glyphicon glyphicon-heart" aria-hidden="true">
    </span>    
    <a href="{{ url_for('remedy.disclaimer') }}">
      Legal Disclaimer
    </a>
  </div>
</div>

  {{ macros.cdn_script("code.jquery.com/jquery-1.11.3.min.js") }}
  {{ macros.bootstrap_cdn_script() }}
  <script src="{{ url_for('static', filename='js/remedy.min.js') }}"></script>
  {% block scripts %}{% endblock %}
  </body>
</html>
