{% extends 'base.html' %}

{% block title %}RAD Remedy - Change Password{% endblock %}
{% block head_text %}Change Password{% endblock %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<h2>Change Password</h2>

<form role="form" method="POST" action="{{ url_for('auth.change_password') }}">
    {{ form.csrf_token }}

    {{ macros.form_group(form.currentpassword) }}
    {{ macros.form_group(form.password) }}
    {{ macros.form_group(form.password2) }}

    {{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}
