{% extends 'base.html' %}

{% block title %}RAD Remedy - Change Password{% endblock %}
{% block head_text %}Change Password{% endblock %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<h2>Change Password</h2>

<form role="form" method="POST" action="{{ url_for('auth.change_password') }}">
    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.currentpassword.label }}
        {{ form.currentpassword(class_="form-control form-remedy") }}
    </div>

    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control form-remedy") }}
    </div>

    <div class="form-group">
        {{ form.password2.label }}
        {{ form.password2(class_="form-control form-remedy") }}
    </div>

    {{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}
