{% extends 'base.html' %}

{% block title %}Rad Remedy - Contact RAD Team{% endblock %}
{% block head_text %}Contact RAD Team{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}

<div class="row">
    <h3 class="text-uppercase">Contact Us</h3>
    <ul class="no-bullets"> 
        <li>Email: info@radremedy.org</li>
        <li>Phone: 414.939.4RAD (414.939.4723)</li>
        <li>Social Media: See links in the bottom banner</li>
    </ul>
</div> 

{% endblock %}