{% extends 'base.html' %}

{% block title %}RAD Remedy - Contact the RAD Team{% endblock %}
{% block head_text %}Contact the RAD Team{% endblock %}

{% block content %}

<h2>Contact Us</h2>
<ul class="list-unstyled"> 
  <li>
  	<h3>
  		<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  		Email
  	</h3>
  	<p>
  		<a href="mailto:info@radremedy.org">
  			info@radremedy.org
  		</a>
  	</p>
  </li>
  <li>
  	<h3>
	  	<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
	  	Phone
  	</h3>
  	<p>
  		<a href="tel:+14149394723">
  			414.939.4RAD (414.939.4723)
  		</a>
  	</p>
  </li>
  <li>
  	<h3>
  		Social Media
  	</h3>
  	<p>
  		See links in the bottom banner
  	</p>
  </li>
</ul>

{% endblock %}