{% extends 'base.html' %}

{% block title %}Rad Remedy - Contact RAD Team{% endblock %}
{% block head_text %}Contact RAD Team{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}

    <h3 class="text-uppercase">Contact Us</h3>
    <ul class="rad-ul list-unstyled"> 
        <li><span class="glyphicon glyphicon-envelope"></span> info@radremedy.org</li>
        <li><span class="glyphicon glyphicon-earphone"></span> 414.939.4RAD (414.939.4723)</li>
        <li>Social Media: See links in the bottom banner</li>
    </ul>

{% endblock %}