{% extends 'base.html' %}

{% block title %}RAD Remedy - Create Account{% endblock %}
{% block head_text %}Create Account{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/bootstrap-multiselect.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

<h2>Create an Account!</h2>

{#
<div class="big">
  <p class="purple-label text-uppercase"><b>I am an</b>:</p>
  <p class="pink-label">Individual</p>
  <p class="pink-label">Organization</p>
</div>
#}

<div class="individual">
  {#
  <h2>Create an Individual Account!</h2>	
  #}

	<form role="form" method="POST" action="{{ url_for('auth.sign_up') }}">
    {{ form.csrf_token }}

    {{ macros.form_group(form.username) }}
    {{ macros.form_group(form.display_name) }}

{% if form.populations.choices %}
    {{ macros.form_group(form.populations, **{"data-nounplural": "identities", "rows": "6"}) }}
{% endif %}
  
    {{ macros.form_group(form.email) }}

    {{ macros.form_group(form.password) }}
    {{ macros.form_group(form.password2) }}

    <div class="checkbox">
      <label>
        {{ form.confirm_agreement() }}
        I agree to abide by the 
        <a href="{{ url_for('remedy.terms_of_service') }}" target="_blank">Terms of Service
        </a>
        and
        <a href="{{ url_for('remedy.user_agreement') }}" target="_blank">User Agreement</a>.
      </label>
    </div>

    {{ form.submit(class_="btn btn-primary") }}
	</form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% if form.populations.choices %}
{{ macros.multiselect_script_include() }}
{{ macros.multiselect_script(form.populations.id) }}
{% endif %}
{% endblock %}