{% extends 'base.html' %}

{% block title %}Rad Remedy - Create Account{% endblock %}
{% block head_text %}Create Account{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}

<h3>Create an Account!</h3>

<div class="big">
    <p class="purple-label"><b>I AM AN</b>:</p>
    <p class="pink-label">Individual</p>
    <p class="pink-label">Organization</p>
</div>

<div class="individual">
    <h3>Create an Individual Account!</h3>	

	<form role="form" method="POST" action="/signup/">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.username.label }}
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
        </div>

        <div class="form-group">
            {{ form.password2.label }}
            {{ form.password2 }}
        </div>

        {{ form.submit }}

	</form>

</div>



{% endblock %}
