{% extends 'base.html' %}

{% block content %}

<h3>Create an Account!</h3>

<div class="big">
    <p class="purple-label"><b>I AM AN</b>:</p>
    <p class="pink-label">Individual</p>
    <p class="pink-label">Organization</p>
</div>

<div class="individual">
    <h3>Create an Individual Account!</h3>	

	<form role="form" method="POST" action="/signup/">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.username.label }}
            {{ form.username }}
        </div>

        <div class="form-group">
            {{ form.email.label }}
            {{ form.email }}
        </div>

        <div class="form-group">
            {{ form.password.label }}
            {{ form.password }}
        </div>

        <div class="form-group">
            {{ form.password2.label }}
            {{ form.password2 }}
        </div>

        {{ form.submit }}

	</form>

</div>



{% endblock %}
