{% extends 'base.html' %}

{% block title %}RAD Remedy - Legal Disclaimer{% endblock %}
{% block head_text %}Legal Disclaimer{% endblock %}

{% block content %}

<h2>Legal Disclaimer</h2>
<p>
	As a community-driven site, RAD Remedy obtains its information from sources it believes to be reliable – namely community organizations and clients themselves.
	However, because of the possibility of human and mechanical error as well as other factors, RAD Remedy makes no representations or warranties, express or implied, as to the accuracy or timeliness of its information, and cannot be responsible or liable for any errors or omissions in its information or the results obtained from the use of such information.
</p>
<p>
	The provider ratings are statements of opinion and not statements of fact or recommendations to utilize any provider services and do not constitute medical or legal advice.
	Users are solely responsible for determining whether the information provided is suitable for their purposes, and reliance on the information is at the users' sole risk.
	Users should obtain any additional information necessary to make an informed decision.
</p>
<p>
	RAD Remedy, Inc. assumes no responsibility or liability for any advice, treatment, or services rendered by any hospital, physician, or other healthcare provider, healthcare facility, health plan, attorney, legal firm, or social services agency featured on the {{ config.BASE_URL }} site.
	More information can be found in the <a href="{{ url_for('remedy.user_agreement') }}">RAD Remedy User Agreement</a>.
</p>

{% endblock %}