{% extends 'base.html' %}

{% block title %}Rad Remedy - Donate{% endblock %}
{% block head_text %}Donate{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}

	<br>
	<br>
	<p>If you’d like to donate to RAD Remedy, you may do so it any of several ways:</p>
	<ol> 
		<li><a href="http://gratipay.com/radremedy">Gratipay</a> (good for small, recurring donations but not tax deductible)</li>
		<li>PayPal (tax deductible and coming soon!)</li>
		<li>Check/Money Order (tax deductible, sent to our fiscal sponsor): <br>
			If you would like to mail checks or money orders, please do so to:<br> 
			<br>
			RAD Remedy<br>
			c/o FORGE<br>
			P.O. Box 1272<br>
			Milwaukee, WI 53201<br>
			<br>
			Please make checks payable to FORGE and write RAD Remedy in the memo line.</li>
	</ol>
	<p>Thanks for your support!</p>


{% endblock %}