{% extends 'base.html' %}

{% block title %}RAD Remedy - Donate{% endblock %}
{% block head_text %}Donate{% endblock %}
{% block og_desc %}Want to donate to RAD Remedy? Find out more here.{% endblock %}

{% block content %}

<h2>Donating to RAD Remedy</h2>
<p class="lead">
		If you'd like to donate to RAD Remedy, you may do so in any of several ways:
</p>
<ul class="list-unstyled">
	<li>
		<h3><a href="http://radremedy.tictail.com/" target="_blank">Buy Swag!</a></h3>
		<p>Support our work by purchasing some RAD swag! All the fun of donating, plus you get an awesome shirt or hoodie. Find it on our <a href="http://radremedy.tictail.com/" target="_blank">store</a>!</p>
	</li>
	<li>
		<h3>
			Paypal
			<small>
				Tax deductible <sup><a href="#deduction-note">1</a></sup>
			</small>
		</h3>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="7H4EZZPE5SVRS">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</li>
	<li>
		<h3>
			Check/Money Order
			<small>
				Tax deductible <sup><a href="#deduction-note">1</a></sup>
			</small>							
		</h3>
		<p>
			If you would like to mail checks or money orders, please do so to:
		</p>
		<address>
			RAD Remedy<br />
			c/o Riley Johnson<br />
			4439 N Whipple St #2<br />
			Chicago, IL 60625
		</address>
		<p>
			Please make checks payable to RAD Remedy.
		</p>
	</li>
</ul>
<p>
	Thanks for your support!
</p>
<p class="text-muted">
	<small id="deduction-note">
	<sup>1</sup>
	Individual circumstances may vary.
	Please consult a tax professional before claiming a deduction.
	</small>
</p>

{% endblock %}