{% extends 'base.html' %}

{% block title %}RAD Remedy - Donate{% endblock %}
{% block head_text %}Donate{% endblock %}

{% block content %}

<h2>Donating to RAD Remedy</h2>
<p class="lead">
		If you’d like to donate to RAD Remedy, you may do so in any of several ways:
</p>
<ul class="list-unstyled">
	<li>
		<h3>
			Paypal
			<small>
				Tax deductible
			</small>
		</h3>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_s-xclick">
			<input type="hidden" name="hosted_button_id" value="WTUPXK2TQGSH2">
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" 
			border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
	</li>
	<li>
		<h3>
			Check/Money Order
			<small>
				Tax deductible, sent to our fiscal sponsor
			</small>							
		</h3>
		<p>
			If you would like to mail checks or money orders, please do so to:
		</p>
		<address>
			RAD Remedy<br />
			c/o FORGE<br />
			P.O. Box 1272<br />
			Milwaukee, WI 53201
		</address>
		<p>
			Please make checks payable to FORGE and write RAD Remedy in the memo line.
		</p>
	</li>
</ul>
<p>
	Thanks for your support!
</p>

{% endblock %}