{% extends 'base.html' %}

{% block title %}RAD Remedy - Submit a Correction{% endblock %}
{% block head_text %}Submit a Correction{% endblock %}

{% block content %}
<h2>Submit a Correction</h2>

<p class="lead">
	Error in resource: {{resource.name}}
</p>

{% for message in form.message.errors %}
<div class="flash">{{ message }}</div>
{% endfor %}

<form action="{{ url_for('remedy.submit_error', resource_id=resource.id) }}" method="post" role="form">
	{{ form.csrf_token }}
	<div class="form-group">
    <div>
    	{{ form.message.label }}*
    </div>
    {{ form.message(class_="form-control form-remedy") }}
	</div>
		
		<div class="form-group">
	    {{ form.submit(class_="btn") }}
	</div>
</form>
{% endblock %}