{% extends 'base.html' %}

{% block title %}Rad Remedy - Error Submitted{% endblock %}
{% block head_text %}Suggestion{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}
<div class="content-temp">
	<h2>Error Submitted</h2>
	<p class="lead">
		Thanks for letting us know!
	</p>
</div> 

{% endblock %}