
{% block experience %}
{% if logged_in() %}
<section>
    <div class="blue-line"></div>

    <h2>Experiences</h2>
    <p class="pink-label">Share your own experience here!</p>
    <h3>{{ current_user.username }}</h3>

    <form role="form" method="post" action="{{ url_for('remedy.new_review') }}">

        {{ form.csrf_token }}

	    <div class="form-group">
		    <p>I had a {{ form.experience }} experience with this provider.</p>

            {{ form.description(rows=10, cols=50) }}
            {{ form.provider(value=provider.id) }}
	    	
	    </div>

	    <button class="btn btn-lg">Submit</button>

	</form>
</section>
{% endif %}
{% endblock %}

