
{% block experience %}
{% if logged_in() %}
<section>
    <div class="blue-line"></div>

    <h2>Add a Review</h2>
    <p class="pink-label">Share your own experience here!</p>
    
    {% if has_existing_review %}
    <p class="bg-warning">
        You have already reviewed this provider. If you leave a new review,
        your new rating will be applied, but any previous reviews
        will still be visible.
    </p>
    {% endif %}

    <form role="form" method="post" action="{{ url_for('remedy.new_review') }}">

        {{ form.csrf_token }}

	    <div class="form-group">
		    <p>I had a {{ form.experience }} experience with this provider.</p>

            {{ form.description(rows=10, cols=50) }}
            {{ form.provider(value=provider.id) }}    	
	    </div>

	    <button class="btn btn-lg">Submit</button>

	</form>
</section>
{% endif %}
{% endblock %}

