
{% block experience %}
{% if logged_in() %}
<section>
    <div class="blue-line"></div>

    <h2>Add a Review</h2>
    <p class="pink-label">Share your own experience here!</p>
    
    {% if has_existing_review %}
    <div class="alert alert-warning">
        You have already reviewed this provider. If you leave a new review,
        your new rating will be applied, but any previous reviews
        will still be visible.
    </div>
    {% endif %}

    <form role="form" method="post" action="{{ url_for('remedy.new_review') }}">

        {{ form.csrf_token }}
        {{ form.provider(value=provider.id) }}
        
        <div class="form-group">
            {{ form.rating.label }}
            {{ form.rating(class_="form-control form-remedy") }}
        </div>

        <div class="form-group">
            {{ form.description.label }}
            {{ form.description(rows=5, cols=50, class_="form-control form-remedy") }}
	    </div>

	    {{ form.submit(class_="btn") }}

	</form>
</section>
{% endif %}
{% endblock %}

