{% extends "base.html" %}

{% block title %}Rad Remedy - Search{% endblock %}
{% block head_text %}Search{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/select2.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/select2-bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content-temp">
<h3>Find a Provider</h3>

<h2>Search By</h2>

<form role="search" action="{{ url_for('remedy.resource_search') }}" method="GET">
		<div class="form-group">
			<input type="text" name="search" value="{{ search_params.get('search', '') }}" 
				class="form-control form-remedy search-remedy" 
				placeholder="Search providers" />
		</div>
		<div class="form-group">
			<input type="text" name="addr" id="search-addr" value="{{ search_params.get('addr', '') }}" 
				class="form-control form-remedy search-remedy"
				placeholder="Address" />
		</div>
		<div class="form-group">
			<select name="dist" class="form-control form-remedy search-remedy">
				<option value="-1"
					{% if search_params.get('dist', -1) == -1 %} selected="selected" {% endif %}>
					Anywhere</option>
				<option value="5" 
					{% if search_params.get('dist') == 5 %} selected="selected" {% endif %}>
					5 miles</option>
				<option value="10" 
					{% if search_params.get('dist') == 10 %} selected="selected" {% endif %}>
					10 miles</option>
				<option value="25"
					{% if search_params.get('dist') == 25 %} selected="selected" {% endif %}>
					25 miles</option>
				<option value="50"
					{% if search_params.get('dist') == 50 %} selected="selected" {% endif %}>
					50 miles</option>
				<option value="100"
					{% if search_params.get('dist') == 100 %} selected="selected" {% endif %}>
					100 miles</option>
			</select>
			<input type="hidden" name="lat" id="search-lat" value="{{ search_params.get('lat', '') }}" />
			<input type="hidden" name="long" id="search-long" value="{{ search_params.get('long', '') }}" />
		</div>

		{% if categories %}
		<div class="form-group">
			<select name="categories" multiple="multiple" placeholder="Categories"
				class="form-control form-remedy search-remedy">
				{% for c in categories %}
					<option value="{{ c.id }}"
					{% if c.description %} title="{{ c.description }}" {% endif %}
					{% if c.id in search_params.get('categories', []) %} selected="selected" {% endif %}>
					{{ c.name }}</option>
				{% endfor %}				
			</select>
		</div>
		{% endif %}

		{#
		<div class="form-group">
			<input placeholder="Specialty or Service">
			<input placeholder="Population">
		</div>

		<div class="form-group">
			<input placeholder="Degree or Licensure">
			<input placeholder="Referred By">
		</div>

		<div class="form-group">
			<input placeholder="Procedure">
			<select>
				<option>Insurance</option>
			</select>
			<select>
				<option>Sliding Fee</option>
			</select>
		</div>
		#}

		<button class="btn btn-lg">Search</button>
</form>

<div>
	<section>
		<h2>Results</h2>
		{% if providers %}
			<div class="row">
				<div class="col-md-6">
					{% for r in providers %}
						{{ macros.render_resource(r) }}
					{% endfor %}
					{{ macros.render_pagination(pagination) }}
				</div>
				<div class="col-md-6">
					<div id="provider-map" style="width: 480px; height: 480px;"></div>
				</div>
			</div>
		{% else %}
			<p>
				We're sorry, we weren't able to find any results.
				Try refining your search parameters.
			</p>
		{% endif %}
	</section>
</div>
</div>

{% endblock %}

{% block scripts %}
{{ macros.gmaps_script(false, 'search-addr', 'search-lat', 'search-long') }}
{% if providers|selectattr("latitude")|selectattr("longitude") %}
<script type="text/javascript">
	$(function () {
    var map = new google.maps.Map(document.getElementById("provider-map"));
    var bounds = new google.maps.LatLngBounds();
    var providers = [];

    {% for r in providers|selectattr("latitude")|selectattr("longitude") %}
    providers.push({
    	name: '{{ r.name }}',
    	description: '{{ r.description }}',
    	address: '{{ r.address }}',
    	latitude: {{ r.latitude }},
    	longitude: {{ r.longitude }},
    	description: '{{ r.description }}',
    });
    {% endfor %}

    for(i = 0; i < providers.length; i += 1)
    {
  		var r = providers[i];
  		var marker = new google.maps.Marker({
      	map: map,
      	title: r.name,
      	position: new google.maps.LatLng(r.latitude, r.longitude)
  		});

  		var infoWindow = new google.maps.InfoWindow({
      	content: "<div>" +
          "<strong>" + r.name + "</strong><br />" +
          "<addr>" + r.address + "</addr><br />" +
          r.description + "</div>",
      	maxWidth: 480
  		});

  		google.maps.event.addListener(marker, 'click', function() {
      	infoWindow.open(map, marker);
  		});

    	bounds.extend(marker.position);
    }

    {# Fit our map to these bounds now that all markers have been included. #}
    map.fitBounds(bounds);
	});
</script>
{% endif %}	  
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<script type="text/javascript">
	$(function () {
		var categorySelect = $("select[name='categories']"), 
			selectVal = categorySelect.val();

		categorySelect.select2({
			width: 'element'
		}).val(selectVal);
	})
</script>
{% endblock %}