{% extends 'base.html' %}

{% block title %}RAD Remedy - Get Involved{% endblock %}
{% block head_text %}Get Involved{% endblock %}
{% block og_desc %}Interested in getting involved with RAD's projects? Find out more here.{% endblock %}

{% block content %}

<h2>Current Opportunities</h2>

<h3>Volunteer</h3>
<p>
	If you have mad skills of some sort (PR, data entry, baking, whatever!) and you'd like to volunteer, 
	please fill out our <a href="http://goo.gl/forms/ZIjUHIhQZJ">volunteer form</a> 
	and we'll get in touch with you. Thanks for your interest!
</p>

{% endblock %}




