{% extends 'base.html' %}

{% block title %}Rad Remedy - Contact RAD Team{% endblock %}
{% block head_text %}Contact RAD Team{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}

<h2>Current Opportunities</h2>

<h3>Volunteer</h3>
<p>If you have mad skills of some sort (PR, data entry, baking, whatever!) and you’d like to volunteer, please fill out our <a href="http://goo.gl/forms/ZIjUHIhQZJ">volunteer form</a> and we’ll get in touch with you.
Thanks for your interest!</p>

{% endblock %}




