{% extends 'base.html' %}

{% block title %}RAD Remedy - Get Involved{% endblock %}
{% block head_text %}Get Involved{% endblock %}
{% block og_desc %}Interested in getting involved with RAD's projects? Find out more here.{% endblock %}

{% block content %}

<h2>Current Opportunities</h2>

<h3>Volunteer</h3>
<p>
	We are always in need of volunteers! 
</p>
<p>	
	Some of the specific volunteer jobs that we are looking for include:<br>
	- Coding and IT development (specficially Full Stack development and Python experience)<br>
	- Fundraising<br>
	- Social Media and Communications<br>
	- And more!
	</p>
<p>
	Want to volunteer? Please fill out our <a href="https://radremedy.nationbuilder.com/volunteer">volunteer form</a> 
	and we'll get in touch with you. Thanks for your interest!
</p>

<h3>Internships</h3>
<p>
	Do you need an internship done for school credit? Are you interested in working with the TGIQ community? RAD Remedy could be the placement for you! We even have two MSWs on our team for supervision purposes! 
</p>
<p>
	Current Internship Opportunities Can Include:*<br>
	<i>* Other internships can be crafted based on student’s skills and learning objectives. </i>
</p>
<p>
	Fund Development Intern<br>
	<i>Duties may include: Grant Location and Writing, Program Development, Individual Donor Engagement, Corporate Sponsorship Engagement, Donor Management</i>
</p>
<p>
	General Organizational Development Intern<br>
	<i>Duties may include: Program Development, General Program Management, Program Evaluation</i>
</p>
<p>
	RAD Projects Intern<br>
	<i>Duties may include: database management, assisting community members finding resources, updating and inputting provider information, locating new providers, volunteer management
</p>
<p>
	Health Show Zines Intern<br>
	<i>Duties may include: Researching and writing zine scripts, managing and soliciting sales, PR</i>
</p>
<p>
	Training Database Intern<br>
	<i>Duties may include: research of existing trainings, organization engagement, PR, data input</i>
</p>
<p>
	Social Media and Communications Intern<br>
	<i>Duties may include: Updating and maintaining social media, communication plan development, PR, media list development</i>
</p>
<p>
	Email rachel@radremedy.org to discuss your options!
</p>

<h3>Employment</h3>
<p>
	<i>There are no employment opportunities available at this time.</i>
</p>
<p>
<h3>Board of Directors</h3>
<p>
	Interested in helping to steer the organizational direction of RAD Remedy? Want to join a diverse team of community members from all over the US tackling TGIQ health barriers? Fill out <a href="https://goo.gl/forms/BoXsbYXvN8jkkRmF3">our Board App now!</a>
</p>
<p>
Email board@radremedy.org with any questions!
</p>
<p>

{% endblock %}




