{% extends 'base.html' %}

{% block content %}
<div>
	<section>
		<h2>Find Stuff in your Area</h2>
	      <form class="navbar-form" role="search" action="{{ url_for('resource_search') }}" method="GET">
	        <div class="form-group">
	          <input type="text" name="search" class="form-control form-control-remedy search-remedy" 
	          	placeholder="Search providers" />
	        </div>
	        <div class="form-group">
	        	near
						<input type="text" name="addr" class="form-control form-control-remedy search-remedy"
							placeholder="Address" />
			
						within
						<select name="dist">
							<option value="-1">Anywhere</option>
							<option value="5">5 miles</option>
							<option value="10">10 miles</option>
							<option value="25" selected="selected">25 miles</option>
							<option value="50">50 miles</option>
							<option value="100">100 miles</option>
						</select>

						<input type="hidden" name="lat" />
						<input type="hidden" name="long" />
	        </div>
	        <button type="submit" class="btn search">
	          <img class="img-responsive"
	            src="{{ url_for('static', filename='img/search-button.png') }}" />
	        </button>
	      </form>
	</section>
	<div class="blue-line"></div>
</div>

{% if recently_added %}
<div>
	<section>
		<h2>Recently Added</h2>
		{% for r in recently_added %}
		{{ macros.render_resource(r) }}
		{% endfor %}
	</section>
</div>
{% endif %}

{#
<div>
	<section>
		<h2>Trending</h2>

	</section>
	<div class="blue-line"></div>
</div>
#}

{% if recent_discussion %}
<div>
	<section>
		<h2>Recent Discussions</h2>
		{% for d in recent_discussion %}
		<h3><a href="{{ url_for('resource', resource_id=d.resource_id) }}">{{ d.resource.name }}</a></h3>
		<p>{{ d.text }}</p>
		<p>by {{ d.user.username }}</p>
		{% endfor %}

	</section>
</div>
{% endif %}

{% endblock %}
