{% extends 'base.html' %}

{% block content %}
<div>
	<section>
		<h1>Find Stuff in your Area</h1>
	      <form class="navbar-form" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control form-control-remedy search-remedy" placeholder="SEARCH Zip, Intersection, Address">
	        </div>
	        <button type="submit" class="btn search">
	          <img class="img-responsive"
	            src="{{ url_for('static', filename='img/search-button.png') }}" />
	        </button>
	      </form>
	</section>
	<div class="blue-line"></div>
</div>


<div>
	<section>
		<h1>Recently Added</h1>
	</section>
	
</div>

<div>
	<section>
		<h1>Trending</h1>

	</section>
	<div class="blue-line"></div>
</div>

<div>
	<section>
		<h1>Discussions</h1>
	</section>
</div>
{% endblock %}
