{% extends 'base.html' %}

{% block title %}Rad Remedy - Login{% endblock %}
{% block head_text %}Login{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}

<h3>Login</h3>

<form role="form" action="/login/" method="POST">

    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.username.label }}
        {{ form.username }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password }}
    </div>

    {{ form.submit }}
</form>



{% endblock %}
