{% extends 'base.html' %}

{% block title %}RAD Remedy - Login{% endblock %}
{% block head_text %}Login{% endblock %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<h2>Login</h2>

<form role="form" action="{{ url_for('auth.sign_in', next=next) }}" method="POST">

    {{ form.csrf_token }}

    {{ macros.form_group(form.username) }}
    {{ macros.form_group(form.password) }}

    <p class="help-block">
        Forgot your password?
        <a href="{{ url_for('auth.request_password_reset') }}">
            Request a reset.
        </a>
    </p>

    {{ form.submit(class_="btn btn-primary") }}

</form>
{% endblock %}
