{#

macros.html

Contains macros for commonly-generated items (such as resources
and pagination structures).

#}

{#
Renders out page numbers with links to other pages
of data.

Args:
  pagination: The Pagination instance to render.
#}
{% macro render_pagination(pagination) %}
<nav>
  <span class="sr-only">
    Page:
  </span>
  <ul class="pagination">
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
    <li>
      <a href="{{ url_for_other_page(page) }}">
        {{ page }}
      </a>
    </li>
      {% else %}
    <li class="active">
      <span>
        {{ page }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
      {% endif %}
    {% else %}
    <li class="disabled">
      <span class="ellipsis">…</span>
    </li>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <li>
      <a href="{{ url_for_other_page(pagination.page + 1)}}">
        Next <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  {% endif %}
  </ul>
</nav>
{% endmacro %}

{#
Renders out flashed messages, grouped by alert category,
as dismissible Bootstrap alerts with appropriate contextual classes.
#}
{% macro render_flashed_messages() %}
{% set messages = get_grouped_flashed_messages() %}
{% for alert_class, msg_list in messages.iteritems() %}
<div class="alert alert-dismissible {{ alert_class }}" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
{% for message in msg_list %}
  {{ message|nl2br }}
{% endfor %}
</div>
{% endfor %}
{% endmacro %}

{#
A macro for converting a rating value (1-5 or N/A) to
an equivalent text description from a third party's
perspective.

Args:
  rating: The rating to convert.
#}
{% macro rating_text(rating) %}
{% if rating >= 4.5 %}
Very Good
{% elif rating >= 3.5 %}
Good
{% elif rating >= 2.5 %}
Neutral
{% elif rating >= 1.5 %}
Bad
{% elif rating > 0 %}
Very Bad
{% else %}
N/A
{% endif %}
{% endmacro %}

{#
A macro for converting a rating value (1-5 or N/A) to
an equivalent text description from an individual's
own perspective.

Args:
  rating: The rating to convert.
#}
{% macro my_rating_description(rating) %}
{% if rating == "5" %}
5 - I had a very good experience
{% elif rating == "4" %}
4 - I had a good experience
{% elif rating == "3" %}
3 - I had a neutral experience
{% elif rating == "2" %}
2 - I had a bad experience
{% elif rating == "1" %}
1 - I had a very bad experience
{% else %}
N/A
{% endif %}
{% endmacro %}

{#
Renders out a full form-group div, with label, help text, and input field.

Args:
  field: The WTForms Field instance to render.
#}
{% macro form_group(field) %}
{% set field_args = get_field_args(field, **kwargs) %}
<div class="form-group">
  {{ field.label(class_="control-label") }}
{% if field_args['required'] %}
  <span class="text-danger">*</span>
{% endif %}
{% if field_args['aria-describedby'] %}
  <div class="help-block" id="{{ field_args['aria-describedby'] }}">
    {{ field.description|nl2br }}
  </div>
{% endif %}
  {{ field(**field_args) }}
</div>
{% endmacro %}

{#
A macro for rendering out options and optgroups (in the latter case,
if any options in the provided list are iterable). Options should
consist of tuples in the form (value, label). Optgroups should
consist of tuples in the form (label, options).

Args:
  options: The options/optgroups to render out.
  cur_values: The currently-selected values to default.
#}
{% macro render_options(options, cur_values) %}
{# Unpack each option into a (value, label) tuple #}
{%- for optval, optlabel in options %}
  {# If the label isn't a string/number, recurse on it (it's an optgroup) #} 
  {% if optlabel is not string and optlabel is iterable %}
<optgroup label="{{ optval }}">
{{ render_options(optlabel, cur_values) }}
</optgroup>
  {% else %}
<option value="{{ optval }}" {%- if optval in cur_values %} selected="selected"{%- endif %}>{{ optlabel }}</option>
  {% endif %}
{%- endfor %}
{% endmacro %}

{#
Renders out a popover with the specified ID, title, and Glyphicon.

Args:
  id: The ID of the popover.
  title: The title to use for accessibility purposes. Defaults to
    "Things to Consider".
  icon: The Glyphicon class to use for the icon, minus the "glyphicon-"
    prefix. Defaults to "question-sign".
#}
{% macro popover(id, title='Things to Consider', icon='question-sign') %}
<button id="{{ id }}" class="btn btn-link rad-popover" type="button">
  <span class="glyphicon glyphicon-{{ icon }}" aria-hidden="true"></span>
  <span class="sr-only">{{ title }}</span>
</button> 
{% endmacro %}

{#
A macro for rendering out the styling/data attributes specific to the score
on a progress bar.

Args:
  base: The base score for the bar being represented (1-5).
  score: The current score to represent.
#}
{%- macro score_atts(base, score) %}
data-score="{{ base }}" {%- if score < base %}style="width: {{ 20 * (score - base + 1) }}%"{%- endif %}
{%- endmacro %}

{#
A macro for optionally rendering a component of a rating
if it has been provided. If the rating value is None or 
less than zero, it will not be rendered.

Args:
  component: The name of the component (e.g. "Staff", "Intake")
  rating: The rating value.
#}
{% macro rating_component(component, rating) %}
{# Only render if we actually have a rating #}
{% if rating != None and rating > 0 %}
<div class="row rating-row">
  <div class="col-xs-3 col-md-2 rating-label-holder">
    <span class="rating-label">{{ component }}:</span>
  </div>
  <div class="col-xs-6">
    <div class="progress review-rating" aria-role="progressbar" aria-valuemin="1" aria-valuemax="5" aria-valuenow="{{ rating }}">
      <div class="progress-bar" {{ score_atts(1, rating) }}>
      </div>
{% if rating > 1 %}
      <div class="progress-bar" {{ score_atts(2, rating) }}>
      </div>
{% endif %}
{% if rating > 2 %}
      <div class="progress-bar" {{ score_atts(3, rating) }}>
      </div>
{% endif %}
{% if rating > 3 %}
      <div class="progress-bar" {{ score_atts(4, rating) }}>
      </div>
{% endif %}
{% if rating > 4 %}
      <div class="progress-bar" {{ score_atts(5, rating) }}>
      </div>
{% endif %}
    </div>
  </div>
  <div class="col-xs-3 review-score-holder">
    <span class="badge review-rating-score">{{ rating }}</span>
    <span class="review-rating-text">{{ rating_text(rating) }}</span>
  </div>
</div>
{% endif %}
{% endmacro %}

{#
A macro for rendering the scoring section of a review.

Args:
  review: The review.
#}
{% macro review_scores(review) %}
<div class="rating-score-block">
  {{ rating_component("Provider", review.rating) }}
  {{ rating_component("Intake", review.intake_rating) }}
  {{ rating_component("Staff", review.staff_rating) }}
</div>
{% endmacro %}

{#
A macro for rendering the text portion of a review.

Args:
  review: The review.
#}
{% macro review_text(review) %}
<blockquote class="text-block">
  {{ review.text|nl2br(make_urls=False) }}
</blockquote>
{% endmacro %}

{#
A macro for optionally rendering a link to delete a review
if the current user is an administrator or the author
of the review.

Args:
  review: The review.
  current_user: The current user.
#}
{% macro review_delete_link(review, current_user) %}
{% if current_user.admin or current_user.id == review.user_id %}
<p>
  <a href="{{ url_for('remedy.delete_review', review_id = review.id) }}">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
    Delete
  </a>
</p>
{% endif %}
{% endmacro %}

{#
A macro for rendering out summary information for
a resource (their name in a heading with a link,
their associated categories, and their short location,
if available).

Args:
  res: The resource to render.
#}
{% macro render_resource(res) %}
<h5>
  <a href="{{ url_for('remedy.resource', resource_id=res.id) }}">
    {{ res.name }}
  </a>
</h5>
<p>
  {{ res.categories|join(', ', attribute='name') }}
</p>
{% if res.location %}
<p>
  {{ res.location }}
</p>
{% endif %}
{% endmacro %}

{#
A macro for getting a URL with an appropriate scheme based on the
current scheme of the request.

Args:
  url: A URL without any scheme information or leading slashes.

Returns:
  The URL with the equivalent scheme applied.
#}
{%- macro schemify_url(url) %}
{%- if request.is_secure %}
https://{{ url }}
{%- else %}
http://{{ url }}
{%- endif %}
{%- endmacro %}

{#
A macro for getting a stylesheet include from a CDN.

Args:
  url: A URL to an externally-hosted stylesheet without
  any scheme information or leading slashes.

Returns:
  The equivalent <link> element.
#}
{% macro cdn_style(url) %}
<link href='{{ schemify_url(url) }}' rel='stylesheet' type='text/css'>
{% endmacro %}

{#
A macro for getting a script include from a CDN.

Args:
  url: A URL to an externally-hosted script without
  any scheme information or leading slashes.

Returns:
  The equivalent <script> element.
#}
{% macro cdn_script(url) %}
<script src="{{ schemify_url(url) }}"></script>
{% endmacro %}

{#
A macro for including the Google Maps JavaScript library.
This will always use HTTPS.
#}
{% macro gmaps_script_include() %}
{% if config.MAPS_CLIENT_KEY %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places&amp;key={{ config.MAPS_CLIENT_KEY }}"></script>
{% else %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places"></script>
{% endif %}
{% endmacro %}

{#
A macro for including the standard RAD Remedy utilities library.
#}
{% macro remedy_script_include() %}
<script src="{{ url_for('static', filename='js/remedy.min.js') }}"></script>
{% endmacro %}

{#
A macro for including the Bootstrap Multiselect library.
#}
{% macro multiselect_script_include() %}
<script src="{{ url_for('static', filename='js/bootstrap-multiselect.min.js') }}"></script>
{% endmacro %}

{#
A macro for generating the appropriate JavaScript to handle an address field
and underlying latitude/longitude fields (and optionally, a location field).

Args:
  foraddress: A boolean indicating if this is for a specific address
    instead of a general region.
  autocomplete: The ID of the address/region field.
  latitude: The ID of the latitude field to update.
  longitude: The ID of the longitude field to update.
  location: The ID of the location field to update with geocoded information. Optional.
#}
{% macro gmaps_script(foraddress, autocomplete, latitude, longitude, location='') %}
<script type="text/javascript">
window.Remedy.initMapsAutocomplete({{ foraddress|tojson }},'{{ autocomplete }}','{{ latitude }}','{{ longitude }}','{{ location }}');
</script>
{% endmacro %}

{#
A macro for initializing an element as a Bootstrap Multiselect.

Args:
  element: The ID of the element to initialize.
#}
{% macro multiselect_script(element) %}
<script type="text/javascript">
window.Remedy.makeBootstrapMultiselect("{{ element }}");
</script>
{% endmacro %}

{#
A macro for hiding the form group containing an element.

Args:
  element: The ID of the element whose form group should be hidden.
#}
{% macro hide_control_group(element) %}
<script type="text/javascript">
window.Remedy.hideFormGroup("{{ element }}");
</script>
{% endmacro %}
