<nav class="navbar navbar-default navbar-remedy" role="navigation">
  <div class="container">
    
    <div class="navbar-header">
      <a href="/">
        <img class="img-responsive logo-remedy" src="{{ url_for('static', filename='img/logo.png') }}" />
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">

      {#
      TODO: Add this back in once the basic search has been taken care of
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control form-control-remedy search-remedy" placeholder="SEARCH Providers, Services, Locations, Specialties">
        </div>
        <button type="submit" class="btn search">
          <img class="img-responsive"
            src="{{ url_for('static', filename='img/search-button.png') }}" />
        </button>
      </form>
      #}
      <div class="sign-btns">
        {% if logged_in() %}
        <p class="pink-label">Welcome {{ current_user.username }}</p>
        <p><a class="purple-label" href="/settings">Account Settings</a></p>

        <form action="/logout/" method="POST" role="form">
          <button type="submit" class="btn">Logout</button>
        </form>
        
        {% else %}
        <a href="/login"><button class="btn">Log In</button></a>
        <a href="/signup"><button class="btn">Sign Up</button></a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>

