{% extends 'base.html' %}

{% block title %}RAD Remedy - Reset Password{% endblock %}
{% block head_text %}Reset Password{% endblock %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<h2>Reset Password</h2>

<form role="form" method="POST" action="{{ url_for('auth.reset_password', code=code) }}">
    {{ form.csrf_token }}

    {{ macros.form_group(form.password) }}
    {{ macros.form_group(form.password2) }}

    {{ form.submit(class_="btn btn-primary") }}
</form>
{% endblock %}
