{% extends 'base.html' %}

{% block title %}RAD Remedy - Privacy Policy{% endblock %}
{% block head_text %}Privacy Policy{% endblock %}
{% block og_desc %}The privacy policy for RAD Remedy's services, including the RAD (Referral Aggregator Database) project.{% endblock %}

{% block content %}

<h2>Privacy Policy</h2>

<p>
	In the interests of accountability, we require that you create an account to review and submit providers. To create an account, you must use an <strong>email</strong>, <strong>username</strong>, and <strong>password</strong>. Your email and password are not shared with others. Your username is only publicly displayed alongside reviews if you have not selected a display name (see below) to use.
</p>

<p>
	You can optionally use an <strong>display name</strong> to be displayed alongside your reviews. If this is not provided, your username will be used instead. In the interests of privacy and security, we do not have the concept of a publicly-visible user profile. When you leave a review, only the display name or username is included with your review with no link back to your overall contributions to the site. 
</p>

<p>
	To speed up the searching process, you may select a <strong>default location</strong> for location-based searches. This location is solely for your convenience and is not shared with others.
</p>

<p>
	You may also choose to claim certain <strong>identities</strong> on your user profile. These are used solely to provide more useful information around reviews. These identities are not publicly associated with your user profile, and are only included in aggregated review scores. For more information on how we use this data, see <a href="{{ macros.schemify_url('radremedy.org/news/1/') }}" target="_blank">our news post on identities</a>.
</p>

<p>
	Also in the interests of accountability, RAD Remedy will also store the IP addresses used for login attempts, submission of providers, and submission of reviews. These IP addresses are not publicly visible and are solely for administrative use in cases of suspected spam or abuse.
</p>

<p>
	RAD Remedy assumes no liability for access to and/or use of your data. Access to and use of data is subject to terms and conditions detailed in <a href="{{ url_for('remedy.terms_of_service') }}">RAD Remedy's Terms of Service</a>.
</p>

{% endblock %}