{% extends 'base.html' %}

{% block title %}RAD Remedy - Projects{% endblock %}
{% block head_text %}Projects{% endblock %}
{% block og_desc %}Curious about RAD Remedy's projects? Find out more here.{% endblock %}

{% block content %}

<h2>RAD Remedy Projects</h2>

<h3>Current Projects</h3>
<dl>
	<dt><a href="{{ url_for('remedy.resource_search', autofill='1') }}">RAD (Referral Aggregator Database)</a></dt>
	<dd>
		RAD is a comprehensive and nationally-collaborative database currently in development 
		that uses the referral lists of trusted community organizations and 
		the detailed reviews of folks like you so we all get better care.
	</dd>
	<dt><a href="http://zines.radremedy.org/" target="_blank">Dr. RAD's Super Sparkly Super Splendid Very Queer Health Show!</a></dt>
	<dd>
		We are partnering with radical illustrator 
		<a href="http://www.isabellarotman.com/" target="_blank">Isabella Rotman</a> 
		to release a series of health guides about self-exams, checkups, hormone options, etc. 
		They will be made available for patients and providers alike, in print and online.
	</dd>
	<dt>Remedy on Demand</dt>
	<dd>
		We provide consulting services for providers of all kinds, examining systems, processes, 
		and intake forms and making things easier for trans, gender non-conforming, intersex, 
		and queer folks to navigate.
	</dd>
</dl>

<h3>Coming Soon</h3>
<dl>
	<dt>Know Your Rights Guides</dt>
	<dd>
		We will provide programming and printable materials around folks' rights and responsibilities 
		in various settings (medical environments both urgent and non-urgent, police and court situations, 
		and housing – just to name a few).
	</dd>
	<dt>Translation Project</dt>
	<dd>
		We will have the site, database, and materials translated into as many languages as possible.
	</dd>
	<dt>Social Media Campaigns</dt>
	<dd>
		From #selfcaresunday to #sexysaturday, we provide tips and resources 
		for all aspects of the community and for your whole life. 
		Follow us and have a RAD week!
	</dd>	
	<dt>
		RAD Certified
	</dt>
	<dd>
		We will have providers of various sorts provide evidence of continuing education they've completed 
		on topics related to our community, and in turn, we provide a special badge for them on 
		the database and optimized search results for you.
	</dd>
</dl>

<p>
	Got a project idea you'd like RAD Remedy to consider? 
	Tell us about it at <a href="mailto:board@radremedy.org">board@radremedy.org</a>!
</p>

{% endblock %}
