{% extends 'base.html' %}

{% block title %}RAD Remedy - Projects{% endblock %}
{% block head_text %}Projects{% endblock %}

{% block content %}

<h2>Current Projects</h2>
<dl> 
<dt>RAD (Referral Aggregator Database)</dt>
<dd>RAD is a comprehensive and nationally-collaborative database currently in development that uses the referral lists of trusted community organizations and the detailed reviews of folks like you so we all get better care.</dd>
<dt>Social Media Compaigns</dt>
<dd>From #selfcaresunday to #sexysaturday, we provide tips and resources for all aspects of the community and for your whole life. Follow us and have a RAD week!</dd> 
<dt>Remedy on Demand</dt>
<dd>We provide consulting services for providers of all kinds, examining systems, processes, and intake forms and making things easier for trans, gender non-conforming, intersex, and queer people to navigate.</dd>
</dl>
<h2>Coming Soon</h2>
<dl>
<dt>Know Your Rights Guides</dt>
<dd>We will provide programming and printable materials around folks’ rights and responsibilities in various settings (medical environments both urgent and non-urgent, police and court situations, and housing –just to name a few).</dd>
<dt>Medical Guides</dt>
<dd>We are partnering with radical illustrator <a href="http://www.isabellarotman.com/">Isabella Rotman</a> to release medical guides about self-exams, checkups, and hormone options. They will be made available for patients and providers alike, in print and online.</dd>
<dt>Translation Project</dt>
<dd>We will have the site, database, and materials translated into as many languages as possible.</dd> 
<dt>RAD Certified</dt>
<dd>We will have providers of various sorts provide evidence of continuing education they’ve completed on topics related to our community, and in turn, we provide a special badge for them on the database and optimized search results for you.</dd> 
</dl>

<h3>Got a project idea you’d like RAD Remedy to consider?  Tell us about it at <a href="mailto:board@radremedy.org">board@radremedy.org!</a></h3> 
<br>

{% endblock %}
