{% extends 'base.html' %}

{% block title %}RAD Remedy - {{ provider.name }}{% endblock %}
{% block head_text %}Provider{% endblock %}

{% block content %}
<h2>{{ provider.name }}</h2>

{% if provider.organization %}
<h4>
	{{ provider.organization }}
</h4>
{% endif %}

{% if provider.categories %}
<h5 title="Categories">
  <span class="glyphicon glyphicon-tags"></span>
  <span class="sr-only">Categories:</span>
  &nbsp;
	{{ provider.categories|join(', ', attribute='name') }}
</h5>
{% endif %}

{% if provider.description %}
<blockquote>
	{{ provider.description }}
</blockquote>
{% endif %}

{% if provider.address %}
<h4>
  <span class="glyphicon glyphicon-road"></span>
  &nbsp;
  Location
</h4>
<p>
  {{ provider.address }}
</p>
{% endif %}

{% if provider.hours %}
<h4>
  <span class="glyphicon glyphicon-time"></span>
  &nbsp;
  Hours
</h4>
<p>
  {{ provider.hours }}
</p>
{% endif %}

<h4>Contact</h4>

{% if provider.email %}
<p>
  <span class="glyphicon glyphicon-envelope"></span>
  &nbsp;  
  Email: <a href="mailto:{{ provider.email }}">{{ provider.email }}</a>
</p>
{% endif %}

{% if provider.phone %}
<p>
  <span class="glyphicon glyphicon-earphone"></span>
  &nbsp;  
  Phone: {{ provider.phone }}
</p>
{% endif %}

{% if provider.fax %}
<p>
  <span class="glyphicon glyphicon-print"></span>
  &nbsp;
  Fax: {{ provider.fax }}
</p>
{% endif %}

{% if provider.url %}
<p>
  <span class="glyphicon glyphicon-globe"></span>
  &nbsp;
  <a href="{% if not provider.url.startswith(('http://', 'https://')) %}http://{% endif %}{{ provider.url }}" target="_blank">Find out More</a>
</p>
{% endif %}

<hr>

<p>
  <span class="glyphicon glyphicon-warning-sign text-danger"></span>
  &nbsp;
	Notice something wrong with this reference? 
	<a href="{{ url_for('remedy.submit_error', resource_id=provider.id) }}">Let us know.</a>
</p>

<h4>
  <span class="glyphicon glyphicon-comment"></span>
  &nbsp;
  Reviews
</h4>

{% if reviews|count > 0 %}
  {% for review in reviews %}
    <div>
      <p>
        <span class="badge">
          {{ macros.rating_text(review.rating) }}
        </span>        
        by {{ review.user.display_name }}
      </p>
      <blockquote>
        {{ review.text }}
      </blockquote>
      {% if current_user.admin or current_user.id == review.user_id %}
      <p>
        <a href="{{ url_for('remedy.delete_review', review_id = review.id) }}">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </a>
      </p>
      {% endif %}
      {% if review.old_reviews_filtered|count > 0 %}
        <div class="panel">
          <div class="panel-heading">
            Previous Reviews by {{ review.user.display_name }}
          </div>
          <div class="panel-text">
            {% for old_review in review.old_reviews_filtered %}
              <p>
                <span class="badge">
                  {{ macros.rating_text(old_review.rating) }}
                </span>
              </p>
              <div class="well well-sm">
                <p>
                  {{ old_review.text }}
                </p>               
              </div>
              {% if current_user.admin or current_user.id == old_review.user_id %}
              <p>
                <a href="{{ url_for('remedy.delete_review', review_id = old_review.id) }}">
                  <span class="glyphicon glyphicon-trash"></span> Delete
                </a>
              </p>
              {% endif %} 
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% else %}
<p>
  Nobody has reviewed this provider yet. Be the first!
</p>
{% endif %}

{% include 'experiences.html' %}

{% endblock %}
