{% extends 'base.html' %}

{% block title %}RAD Remedy - {{ provider.name }}{% endblock %}
{% block head_text %}Provider{% endblock %}
{% block og_desc %}View information and reviews for {{ provider.name }} on RAD Remedy.{% endblock %}

{% block content %}
<div class="provider fluid-container">
  <div class="row"> 
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
      <h5 style="color:#3c204d; font-size:2em; ">{{ provider.name }}</h5>
    </div>
  </div>

  {% if provider.organization %}
  <div class="row"> 
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
      <h4>
      	{{ provider.organization }}
      </h4>
    </div>
  </div>
  {% endif %}

  {% if provider.categories %}
  <div class="row"> 
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
      <div title="Categories" class="tags">
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        <span class="sr-only">Categories:</span>
        &nbsp;
  	    {{ provider.categories|join(', ', attribute='name') }}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8"> 
      <div class="provider-details container hidden" hidden> 
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="sr-only">Unknown if</span><span> Sliding Scale Fee</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="sr-only">Unknown if</span><span> Accepting New Patients</span>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="sr-only">Unknown if</span><span> Accepts Insurance</span>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="sr-only">Unknown if</span><span> ICATH Provider</span>
          </div>
        </div> 
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span><span class="sr-only">Unknown if</span><span> WPATH Provider</span>
          </div>
        </div> 
      </div> 
      <div>
        <h4>Description</h4>
        {% if provider.description %}
        
          <p>
          	{{ provider.description|nl2br }}
          </p>
        {% else %}
          <p>We don't have a description for this provider yet. <a href="{{ url_for('remedy.submit_error', resource_id=provider.id) }}">Can you help?</a></p>
        {% endif %}
      </div>
    </div> 

  
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4"> 
      <div class="contact-box container">
        {% if provider.address %}
        <div class="row">
          <div class="col-xs-2">
          <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
          <span class="sr-only">Address:</span>
          </div>
          <div class="col-xs-10">
            <span>
              {{ provider.address }}
            </span>
          </div>
        </div>
        {% endif %}

        {% if provider.hours %}
        <div class="row">
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <span class="sr-only">Hours:</span>
          </div>
          <div class="col-xs-10">
            <span>
            {{ provider.hours|nl2br }}
            </span>
          </div>
        </div>
        {% endif %}

        {% if provider.email %}
        <div class="row">
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            <span class="sr-only">Email Address:</span>
          </div>
          <div class="col-xs-10">
            <span>
              <a href="mailto:{{ provider.email }}">{{ provider.email }}</a>
            </span>
          </div>
        </div>
        {% endif %}

        {% if provider.phone %}
        <div class="row">
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <span class="sr-only">Phone number:</span>
          </div>
          <div class="col-xs-10">
            <span>
              {{ provider.phone }}
            </span>
          </div>
        </div>
        {% endif %}

        {% if provider.fax %}
        <div class="row">
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
            <span class="sr-only">Fax:</span>
          </div>
          <div class="col-xs-10">
            <span>
              {{ provider.fax }}
            </span>
          </div>
        </div>
        {% endif %}

        {% if provider.url %}
        <div class="row">
          <div class="col-xs-2">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
              <span class="sr-only">Website:</span>
          </div>
          <div class="col-xs-10">
            <span>
              <a href="{% if not provider.url.startswith(('http://', 'https://')) %}http://{% endif %}{{ provider.url }}" target="_blank">Find out More</a>
            </span>
          </div>
        </div>
        {% endif %}

      </div>
      <hr>
      {% if logged_in() %}
      <p>
        <span class="glyphicon glyphicon-certificate" aria-hidden="true"></span>
        &nbsp;
        Visited this provider? 
        <a href="{{ url_for('remedy.new_review', resource_id=provider.id) }}">Tell us about your experience.</a>
      </p>
      <p>
        <span class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true"></span>
        &nbsp;
        Notice something wrong with this reference? 
        <a href="{{ url_for('remedy.submit_error', resource_id=provider.id) }}">Let us know.</a>
      </p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
    <h4>
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      &nbsp;
      Reviews
    </h4>
    <hr />
    {% if reviews|count > 0 %}
      {% for review in reviews %}
        <div>
          <h5>
            {{ review.user.display_name }}
            <small>
              on {{ review.date_created.strftime('%m/%d/%Y') }}
              {% if current_user.admin and review.ip %}
              from {{ review.ip }}
              {% endif %}
            </small>
          </h5>
          {{ macros.review_scores(review) }}
          <blockquote>
            {{ review.text }}
          </blockquote>
          {{ macros.review_delete_link(review, current_user) }}
          {% if review.old_reviews_filtered|count > 0 %}
            <div class="panel panel-default">
              <div class="panel-heading">
                Previous Reviews by {{ review.user.display_name }}
              </div>
              <div class="panel-body">
                {% for old_review in review.old_reviews_filtered %}
                <div>
                  {{ macros.review_scores(old_review) }}
                  <div class="well well-sm">
                    {{ old_review.text }}
                  </div>
                  {{ macros.review_delete_link(old_review, current_user) }}
                </div>
                {% if not loop.last %}
                <hr />
                {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
    <p>
      Nobody has reviewed this provider yet.
      {% if logged_in() %}
      <a href="{{ url_for('remedy.new_review', resource_id=provider.id) }}">Be the first!</a>
      {% endif %}
    </p>
    {% endif %}

    {% if logged_in() %}
    <form method="get" action="{{ url_for('remedy.new_review', resource_id=provider.id) }}">
      <button class="btn btn-primary" type="submit">
        Add a Review
      </button>
    </form>
    {% else %}
    <p>
      To review this provider, please 
      <a href="{{ url_for('auth.sign_in') }}">log in</a> or 
      <a href="{{ url_for('auth.sign_up') }}">create an account</a>.
    </p>
    {% endif %}

    </div>
  </div>

</div>
{% endblock %}
