{% extends 'base.html' %}

{% block content %}
<div class="content-temp">

<h1>{{ provider.name }}</h1>

{% if provider.organization %}
<h2>
	{{ provider.organization }}
</h2>
{% endif %}

{% if provider.categories %}
<h3>
	{{ provider.categories|join(', ', attribute='name') }}
</h3>
{% endif %}

{% if provider.description %}
<blockquote>
	{{ provider.description }}
</blockquote>
{% endif %}

{% if provider.address %}
<h2>Location</h2>
<p>{{ provider.address }}</p>
{% endif %}

<h2>Contact</h2>

{% if provider.email %}
<p>Email: <a href="mailto:{{ provider.email }}">{{ provider.email }}</a></p>
{% endif %}

{% if provider.phone %}
<p>Phone: {{ provider.phone }}</p>
{% endif %}

{% if provider.fax %}
<p>Fax: {{ provider.fax }}</p>
{% endif %}

{% if provider.url %}
<p><a href="{% if not provider.url.startswith(('http://', 'https://')) %}http://{% endif %}{{ provider.url }}" target="_blank">Find out More</a></p>
{% endif %}

<hr>

<p>
	Notice something wrong with this reference? 
	<a href="{{ url_for('remedy.submit_error', resource_id=provider.id) }}">Let us know.</a>
</p>

<h2>Reviews</h2>

{% for review in provider.reviews %}
  <blockquote>
    <p>{{ review.text }}</p>
    <footer>By: {{ review.user.username }}</footer>
  </blockquote>
  
{% endfor %}

{% include 'experiences.html' %}

</div>


{% endblock %}
