{% extends 'base.html' %}

{% block title %}RAD Remedy - Request Password Reset{% endblock %}
{% block head_text %}Request Password Reset{% endblock %}

{% block content %}
<h2>Reset Password</h2>

<p class="lead">
    Forgot your password? No problem. Request a reset using the form below.
</p>

<form role="form" action="{{ url_for('auth.request_password_reset') }}" method="POST">

    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class_="form-control form-remedy") }}
    </div>

    {{ form.submit(class_="btn btn-primary") }}

</form>
{% endblock %}
