{#
This template exists to render out fields that are common to entering
in reviews. It expects that there is a "form" variable available
in its template scope, which should be a WTForms Form instance
incorporating the ReviewFieldsMixin mixin.
#}
{% import 'macros.html' as macros with context %}

{% macro radio_set(radiofield, required=False) %}
{# Do this in reverse order because every one will be floated right #}
{% for r in radiofield|reverse %}
{% if required %}
{{ r(required="required") }}
{% else %}
{{ r }}
{% endif %}
<label for="{{ r.id }}" data-val="{{ r.label.text }}" title="{{ macros.my_rating_description(r.label.text) }}">
  {{ r.label.text }}
</label>
{% endfor %}
{% endmacro %}

<div class="form-group clearfix">
  <div>
    <span id="provider_rating_label" class="control-label">
      Provider Experience
    </span>
    <span class="text-danger">*</span>
    {{ macros.popover("rating-popover") }}
  </div>  
  <fieldset aria-describedby="provider_rating_label">
    <legend class="sr-only">Provider Experience</legend>
    <div class="rating">
      {{ radio_set(form.rating, required=True) }}
    </div>
  </fieldset>
</div>

<div class="form-group clearfix">
  <div>
    <span id="intake_rating_label" class="control-label">
      Intake Experience
    </span>
    {{ macros.popover("intake-popover") }}
  </div>
  <fieldset aria-describedby="intake_rating_label">
    <legend class="sr-only">Intake Experience</legend>
    <div class="rating">
      {{ radio_set(form.intake_rating) }}
    </div>
  </fieldset>
</div>

<div class="form-group clearfix">
  <div>
    <span id="staff_rating_label" class="control-label">
      Staff Experience
    </span>
    {{ macros.popover("staff-popover") }}
  </div>
  <fieldset aria-describedby="staff_rating_label">
    <legend class="sr-only">Staff Experience</legend>
    <div class="rating">
      {{ radio_set(form.staff_rating) }}
    </div>
  </fieldset>
</div>

{{ macros.form_group(form.review_comments) }}
