{% extends 'base.html' %}

{% block title %}Rad Remedy - Settings{% endblock %}
{% block head_text %}Settings{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}
<div class="content-temp">
<h3>User Profile Settings</h3>

<h2>PROFILE</h2>
<p>{{ current_user.username }}</p>
<p>{{ current_user.email }}</p>
<p>{{ current_user.gender_identity }}</p>
<p>{{ current_user.preferred_pronouns }}</p>
<p>{{ current_user.password }}</p>

<h2>NOTIFICATIONS</h2>

<h2>MY REVIEWS</h2>

<h2>MY SAVED STUFF</h2>

<h2>ACCOUNT &amp; NOTIFICATION SETTINGS</h2>
</div> 
{% endblock %}
