{% extends 'base.html' %}

{% block title %}RAD Remedy - My User Profile{% endblock %}
{% block head_text %}My User Profile{% endblock %}

{% block content %}
<h2>User Profile Settings</h2>

<h3>
	My Profile
</h3>
<p class="lead">
	<dl>
		<dt>
			Username
		</dt>
		<dd>
			{{ current_user.username }}
		</dd>
		<dt>
			Displayed Name
		</dt>
		<dd>
			{{ current_user.display_name }}
		</dd>	
		<dt>
			Email
		</dt>
		<dd>
			{{ current_user.email }}
		</dd>		
	</dl>
</p>

<h3>
	Change My Settings
</h3>
<form role="form" method="POST" action="{{ url_for('remedy.settings') }}">
	  {{ form.csrf_token }}

	  <div class="form-group">
        {{ form.display_name.label }}
        <p id="display-name-help" class="help-block">
            This is the name that will be displayed with any of your reviews.
        </p>            
        {{ form.display_name(**{"class_": "form-control form-remedy", "aria-describedby": "display-name-help"}) }}
	  </div>        

	  <div class="form-group">
	      {{ form.email.label }}
	      {{ form.email(class_="form-control form-remedy") }}
	  </div>

	  <div class="form-group">
	      {{ form.default_location.label }}

	      <p id="default-location-help" class="help-block">
	      	By default, this location will be used when you search for resources.
	      </p>

	      {{ form.default_location(**{"class_": "form-control form-remedy", "aria-describedby": "default-location-help"}) }}

	      {{ form.default_latitude }}
	      {{ form.default_longitude }}
	  </div>	  

	  {{ form.submit(class_="btn btn-primary") }}

		<p class="help-block">
				<a href="{{ url_for('auth.change_password') }}">
					Change My Password
				</a>
		</p>
</form>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ macros.gmaps_script(false, 'default_location', 'default_latitude', 'default_longitude') }}
{% endblock %}