{% extends 'base.html' %}

{% block title %}RAD Remedy - Terms of Service{% endblock %}
{% block head_text %}Terms of Service{% endblock %}

{% block content %}

<h2>Terms of Service</h2>

<p class="lead">
	<strong>Last Updated on June 3, 2015.</strong>
</p>

<p>
	These terms and conditions are effective immediately for those registering accounts after that date.
	These terms and conditions (the &quot;<strong>Terms</strong>&quot;) govern your access to and use of RAD Remedy's websites and mobile applications that link to or reference these Terms (&quot;<strong>Site</strong>&quot;).
	By accessing or using the Site, you are agreeing to these Terms and concluding a legally binding contract with RAD Remedy Inc., a Illinois corporation headquartered in Chicago, Illinois (&quot;<strong>RAD Remedy</strong>&quot;).
	Do not access or use the Site if you are unwilling or unable to be bound by the Terms.
</p>

<h3>1. Definitions</h3>

<ol type="A">
	<li>
		<h4>Parties</h4>
		<p>
			&quot;You&quot; and &quot;your&quot; refer to you, as a user of the Site.
			A &quot;user&quot; is someone who accesses, browses, crawls, scrapes, or in any way uses the Site. &quot;We,&quot; &quot;us,&quot; and &quot;our&quot; refer to RAD Remedy.
		</p>
	</li>
	<li>
		<h4>Content</h4>
		<p>
			&quot;Content&quot; means text, images, photos, audio, video, location data, and all other forms of data or communication.
			&quot;Your Content&quot; means Content that you submit or transmit to, through, or in connection with the Site, such as ratings, reviews, compliments, invitations, check-ins, messages, and information that you publicly display or displayed in your account profile.
			&quot;User Content&quot; means Content that users submit or transmit to, through, or in connection with the Site.
			&quot;RAD Remedy Content&quot; means Content that we create and make available in connection with the Site.
			&quot;Third Party Content&quot; means Content that originates from parties other than RAD Remedy or its users, which is made available in connection with the Site.
			&quot;Site Content&quot; means all of the Content that is made available in connection with the Site, including Your Content, User Content, Third Party Content, and RAD Remedy Content.
		</p>
	</li>
</ol>

<h3>2. Changes to the Terms of Service</h3>

<p>
	We may modify the Terms from time to time.
	You understand and agree that your access to or use of the Site is governed by the Terms effective at the time of your access to or use of the Site.
	If we make material changes to these Terms, we will notify you by email or by posting a notice on the Site prior to the effective date of the changes.
	We will also indicate at the top of this page the date that revisions were last made.
	You should revisit these Terms on a regular basis as revised versions will be binding on you.
	Any such modification will be effective upon our posting of new Terms. 
	You understand and agree that your continued access to or use of the Site after the effective date of modifications to the Terms indicates your acceptance of the modifications.
</p>

<h3>3. Translation</h3>

<p>
	We may translate these Terms into other languages for your convenience.
	Nevertheless, the English version governs your relationship with RAD Remedy, and any inconsistencies among the different versions will be resolved in favor of the English version.
</p>

<h3>4. Using the Site</h3>

<ol type="A">
	<li>
		<h4>Eligibility</h4>
		<p>
			To access or use the Site, you must be 13 years or older and have the requisite power and authority to enter into these Terms.
			You may not access or use the Site if we have previously banned you from the Site or closed your account.
		</p>
	</li>
	<li>
		<h4>Permission to Use the Site</h4>
		<p>
			We grant you permission to use the Site subject to the restrictions in these Terms.
			Your use of the Site is at your own risk, including the risk that you might be exposed to Content that is offensive, indecent, inaccurate, objectionable, or otherwise inappropriate.
		</p>
	</li>
	<li>
		<h4>Site Availability</h4>
		<p>
			The Site may be modified, updated, interrupted, suspended or discontinued at any time without notice or liability.
		</p>
	</li>
	<li>
		<h4>User Accounts</h4>
		<p>
			You must create an account and provide certain information about yourself in order to use some of the features that are offered through the Site.
			You are responsible for maintaining the confidentiality of your account password.
			You are also responsible for all activities that occur in connection with your account.
			You agree to notify us immediately of any unauthorized use of your account.
			We reserve the right to close your account at any time for any or no reason.
		</p>
		<p>
			Your account is for your personal, non-commercial use only. 
			In creating it, we ask that you provide complete and accurate information about yourself to bolster your credibility as a contributor to the Site. 
			You may not impersonate someone else (e.g., adopt the identity of a celebrity or your next-door neighbor), create or use an account for anyone other than yourself, provide an email address other than your own, or create multiple accounts.
			If you use a pseudonym, take care to note that others may still be able to identify you if, for example, you include identifying information in your reviews, use the same account information on other sites.
		</p>
	</li>
	<li>
		<h4>Communications from RAD Remedy and other Users</h4>
		<p>
			By creating an account, you understand you may receive certain communications in connection with the Site.
			For example, you might receive compliments or friend requests from other Users.
			You will also receive our monthly e-mail newsletter if you checked the box to receive it.
			You may unsubscribe at any time via the unsubscribe link on the bottom.
		</p>
	</li>
</ol>

<h3>Content</h3>

<ol type="A" start="6">
	<li>
		<h4>Responsibility for Your Content</h4>
		<p>
			You alone are responsible for Your Content, and once published, it cannot always be withdrawn.
			You assume all risks associated with Your Content, including anyone's reliance on its quality, accuracy, or reliability, or any disclosure by you of information in Your Content that makes you personally identifiable.
			You represent that you own, or have the necessary permissions to use and authorize the use of Your Content as described herein.
			You may not imply that Your Content is in any way sponsored or endorsed by RAD Remedy.
		</p>
		<p>
			You may expose yourself to liability if, for example, Your Content contains material that is false, intentionally misleading, or defamatory; violates any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; contains material that is unlawful, including illegal hate speech or pornography; exploits or otherwise harms minors; or violates or advocates the violation of any law or regulation.
		</p>
	</li>
	<li>
		<h4>Our Right to Use Your Content</h4>
		<p>
			We may use Your Content in a number of different ways, including publicly displaying it, reformatting it, incorporating it into advertisements and other works, creating derivative works from it, promoting it, distributing it, and allowing others to do the same in connection with their own websites and media platforms (&quot;Other Media&quot;).
			As such, you hereby irrevocably grant us world-wide, perpetual, non-exclusive, royalty-free, assignable, sublicensable, transferable rights to use Your Content for any purpose.
			Please note that you also irrevocably grant the users of the Site and any Other Media the right to access Your Content in connection with their use of the Site and any Other Media.
			Finally, you irrevocably waive, and cause to be waived, against RAD Remedy and its users any claims and assertions of moral rights or attribution with respect to Your Content.
			By &quot;use&quot; we mean use, copy, publicly perform and display, reproduce, distribute, modify, translate, remove, analyze, commercialize, and prepare derivative works of Your Content.
		</p>
	</li>
	<li>
		<h4>Ownership</h4>
		<p>
			As between you and RAD Remedy, you own Your Content.
			We own the RAD Remedy Content, including but not limited to visual interfaces, interactive features, graphics, design, compilation, including, but not limited to, our compilation of User Content and other Site Content, computer code, products, software, aggregate user review ratings, and all other elements and components of the Site excluding Your Content, User Content and Third Party Content.
			We also own the copyrights, trademarks, service marks, trade names, and other intellectual and proprietary rights throughout the world (&quot;IP Rights&quot;) associated with the RAD Remedy Content and the Site, which are protected by copyright, trade dress, patent, trademark laws and all other applicable intellectual and proprietary rights and laws.
			As such, you may not modify, r/eproduce, distribute, create derivative works or adaptations of, publicly display or in any way exploit any of the RAD Remedy Content in whole or in part except as expressly authorized by us.
			Except as expressly and unambiguously provided herein, we do not grant you any express or implied rights, and all rights in and to the Site and the RAD Remedy Content are retained by us.
		</p>
	</li>
	<li>
		<h4>Advertising</h4>
		<p>
			RAD Remedy and its licensees may publicly display advertisements and other information adjacent to or included with Your Content.
			You are not entitled to any compensation for such advertisements.
			The manner, mode and extent of such advertising are subject to change without specific notice to you.
		</p>
	</li>
	<li>
		<h4>Other</h4>
		<p>
			User Content (including any that may have been created by users employed or contracted by RAD Remedy) does not necessarily reflect the opinion of RAD Remedy.
			We reserve the right to remove, screen, edit, or reinstate User Content from time to time at our sole discretion for any reason or no reason, and without notice to you.
			We have no obligation to retain or provide you with copies of Your Content, nor do we guarantee any confidentiality with respect to Your Content.
		</p>
	</li>
</ol>

<h3>5. Restrictions</h3>

<p>
	We are under no obligation to enforce the Terms on your behalf against another user.
	While we encourage you to let us know if you believe another user has violated the Terms, we reserve the right to investigate and take appropriate action at our sole discretion.
</p>

<ol type="A">
	<li>
		<p>
			You agree not to, and will not assist, encourage, or enable others to use the Site to:
		</p>
		<ol type="i">
			<li>
				<p>
					Violate our User Agreement by writing a fake or defamatory review, trading reviews with other businesses, or compensating someone or being compensated to write or remove a review;
				</p>
			</li>
			<li>
				<p>
					Violate any third party's rights, including any breach of confidence, copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right;
				</p>
			</li>
			<li>
				<p>
					Threaten, stalk, harm, or harass others, or promote bigotry or discrimination;
				</p>
			</li>
			<li>
				<p>
					Promote a business or other commercial venture or event, or otherwise use the Site for commercial purposes, except in connection with a Business Account and as expressly permitted by RAD Remedy;
				</p>
			</li>
			<li>
				<p>
					Send bulk emails, surveys, or other mass messaging, whether commercial in nature or not; engage in keyword spamming, or otherwise attempt to manipulate the Site's search results or any third party website;
				</p>
			</li>
			<li>
				<p>
					Solicit personal information from minors, or submit or transmit pornography; or
				</p>
			</li>
			<li>
				<p>
					Violate any applicable law.
				</p>
			</li>
		</ol>
	</li>
	<li>
		<p>
			You also agree not to, and will not assist, encourage, or enable others to:
		</p>
		<ol type="i">
			<li>
				<p>
					Violate the Terms;
				</p>
			</li>
			<li>
				<p>
					Modify, adapt, appropriate, reproduce, distribute, translate, create derivative works or adaptations of, publicly display, sell, trade, or in any way exploit the Site or Site Content (other than Your Content), except as expressly authorized by RAD Remedy;
				</p>
			</li>
			<li>
				<p>
					Use any robot, spider, site search/retrieval application, or other automated device, process or means to access, retrieve, scrape, or index any portion of the Site or any Site Content;
				</p>
			</li>
			<li>
				<p>
					Reverse engineer any portion of the Site;
				</p>
			</li>
			<li>
				<p>
					Remove or modify any copyright, trademark or other proprietary rights notice that appears on any portion of the Site or on any materials printed or copied from the Site;
				</p>
			</li>
			<li>
				<p>
					Record, process, or mine information about other users;
				</p>
			</li>
			<li>
				<p>
					Access, retrieve or index any portion of the Site for purposes of constructing or populating a searchable database of business reviews;
				</p>
			</li>
			<li>
				<p>
					Reformat or frame any portion of the Site;
				</p>
			</li>
			<li>
				<p>
					Take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on RAD Remedy's technology infrastructure or otherwise make excessive traffic demands of the Site;
				</p>
			</li>
			<li>
				<p>
					Attempt to gain unauthorized access to the Site, user accounts, computer systems or networks connected to the Site through hacking, password mining or any other means;
				</p>
			</li>
			<li>
				<p>
					Use the Site or any Site Content to transmit any computer viruses, worms, defects, Trojan horses or other items of a destructive nature (collectively, &quot;Viruses&quot;);
				</p>
			</li>
			<li>
				<p>
					Use any device, software or routine that interferes with the proper working of the Site, or otherwise attempt to interfere with the proper working of the Site;
				</p>
			</li>
			<li>
				<p>
					Use the Site to violate the security of any computer network, crack passwords or security encryption codes; disrupt or interfere with the security of, or otherwise cause harm to, the Site or Site Content; or
				</p>
			</li>
			<li>
				<p>
					Remove, circumvent, disable, damage or otherwise interfere with any security-related features of the Site, features that prevent or restrict the use or copying of Site Content, or features that enforce limitations on the use of the Site.
				</p>
			</li>
		</ol>
	</li>
</ol>

<p>
	The restrictions above only apply to the extent permissible under applicable law.
	Nevertheless, you agree not to act contrary to them (even if permissible under applicable law) without providing 30 days' prior written notice to us here, together with any information that we may reasonably require to give us an opportunity to provide alternative remedies or otherwise accommodate you at our sole discretion.
</p>

<h3>6. Guidelines and Policies</h3>

<ol type="A">
	<li>
		<h4>User Agreement</h4>
		<p>
			You represent that you have read and understood our User Agreement.
		</p>
	</li>
	<li>
		<h4>Privacy</h4>
		<p>
			You represent that you have read and understood our Privacy Policy.
			Note that we may disclose information about you to third parties if we have a good faith belief that such a disclosure is reasonably necessary to (i) take action regarding suspected illegal activities; (ii) enforce or apply our Terms and Privacy Policy; (iii) comply with legal process or other government inquiry, such as a search warrant, subpoena, statute, judicial proceeding, or other legal process served on us; or (iv) protect our rights, reputation, and property, or that of our users, affiliates, or the public.
			If you use the Site outside of the United States, you consent to having your personal data transferred to and processed in the United States.
		</p>
	</li>
</ol>

<h3>7. Suggestions and Improvements</h3>

<p>
	By sending us any ideas, suggestions, documents or proposals (&quot;Feedback&quot;), you agree that (i) your Feedback does not contain the confidential or proprietary information of third parties, (ii) we are under no obligation of confidentiality, express or implied, with respect to the Feedback, (iii) we may have something similar to the Feedback already under consideration or in development, and (iv) you grant us an irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to use, modify, prepare derivative works, publish, distribute and sublicense the Feedback, and you irrevocably waive, and cause to be waived, against RAD Remedy and its users any claims and assertions of any moral rights contained in such Feedback.
</p>

<h3>8. Third Parties</h3>

<p>
	The Site may include links to other websites or applications (each, a &quot;Third Party Site&quot;).
	We do not control or endorse any Third Party Site.
	You agree that we are not responsible for the availability or contents of such Third Party Sites.
	Your use of Third Party Sites is at your own risk.
</p>

<h3>9. Indemnity</h3>

<p>
	You agree to indemnify, defend, and hold RAD Remedy, its parents, subsidiaries, affiliates, any related companies, suppliers, licensors and partners, and the officers, directors, employees, agents and representatives of each of them (collectively, the &quot;RAD Remedy Entities&quot;) harmless, including costs, liabilities and legal fees, from any claim or demand made by any third party arising out of or relating to (i) your access to or use of the Site, (ii) your violation of the Terms, (iii) any products or services purchased or obtained by you in connection with the Site, or (iv) the infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity.
	RAD Remedy reserves the right, at your expense, to assume the exclusive defense and control of any matter for which you are required to indemnify us and you agree to cooperate with our defense of these claims.
	You agree not to settle any such matter without the prior written consent of RAD Remedy. RAD Remedy will use reasonable efforts to notify you of any such claim, action or proceeding upon becoming aware of it.
</p>

<h3>10. Disclaimers and Limitations of Liability</h3>

<p class="text-uppercase">
	Please read this section carefully since it limits the liability of the RAD Remedy entities to you.
	Each of the subsections below only applies up to the maximum extent permitted under applicable law.
	Nothing herein is intended to limit any rights you may have which may not be lawfully limited.
	If you are unsure about this or any other section of these terms, please consult with a legal professional prior to accessing or using the site.
	By accessing or using the site, you represent that you have read, understood, and agree to these terms, including this section. you are giving up substantial legal rights by agreeing to these terms.
</p>

<ol type="A">
	<li>
		<p class="text-uppercase">
			The site is made available to you on an &quot;as is&quot;, &quot;with all faults&quot; and &quot;as available&quot; basis, with the express understanding that the RAD Remedy entities may not monitor, control, or vet user content.
			As such, your use of the site is at your own discretion and risk.
			The RAD Remedy entities make no claims or promises about the quality, accuracy, or reliability of the site, its safety or security, or the site content.
			Accordingly, the RAD Remedy entities are not liable to you for any loss or damage that might arise, for example, from the site's inoperability, unavailability or security vulnerabilities or from your reliance on the quality, accuracy, or reliability of the business listings, ratings, reviews (including their content, order, and display), or metrics found on, used on, or made available through the site.
		</p>
	</li>
	<li>
		<p class="text-uppercase">
			The RAD Remedy entities make no claims or promises with respect to any third party, such as the businesses or advertisers listed on the site or the site's users.
			Accordingly, the RAD Remedy entities are not liable to you for any loss or damage that might arise from their actions or omissions, including, for example, if another user or business misuses your content, identity or personal information, or if you have a negative experience with one of the businesses or advertisers listed or featured on the site.
			Your purchase and use of products or services offered by third parties through the site is at your own discretion and risk.
		</p>
	</li>
	<li>
		<p class="text-uppercase">
			The RAD Remedy entities expressly disclaim all warranties, whether express or implied, including warranties as to the products or services offered by businesses listed on the site, and implied warranties of merchantability, fitness for a particular purpose, and non-infringement.
			No oral or written information or advice provided to you by a representative of one of the RAD Remedy entities shall create a representation or warranty.
		</p>
	</li>
	<li>
		<p class="text-uppercase">
			Your sole and exclusive right and remedy in case of dissatisfaction with the site, related services, or any other grievance shall be your termination and discontinuation of access to, or use of the site.
		</p>
	</li>
	<li>
		<p class="text-uppercase">
			The RAD Remedy entities' maximum aggregate liability to you for losses or damages that you suffer in connection with the site or these terms is limited to the greater of (i) the amount paid, if any, by you to the RAD Remedy entities in connection with the site in the 12 months prior to the action giving rise to liability, or (ii) $100.
		</p>
	</li>
	<li>
		<p class="text-uppercase">
			The RAD Remedy entities disclaim liability for any (i) indirect, special, incidental, punitive, exemplary, reliance, or consequential damages, (ii) loss of profits, (iii) business interruption, (iv) reputational harm, or (v) loss of information or data.
		</p>
	</li>
</ol>

<h3>11. Choice of Law and Venue</h3>

<p>
	Illinois law will govern these Terms, as well as any claim, cause of action or dispute that might arise between you and RAD Remedy (a &quot;Claim&quot;), without regard to conflict of law provisions.
</p>

<p class="text-uppercase">
	For any claim brought by either party, you agree to submit and consent to the personal and exclusive jurisdiction in, and the exclusive venue of, the state and federal courts located within Cook County, Illinois.
</p>

<h3>12. General Terms</h3>

<ol type="A">
	<li>
		<p>
			We reserve the right to modify, update, or discontinue the Site at our sole discretion, at any time, for any or no reason, and without notice or liability.
		</p>
	</li>
	<li>
		<p>
			We may provide you with notices, including those regarding changes to the Terms by email, regular mail or communications through the Site.
		</p>
	</li>
	<li>
		<p>
			Except as otherwise stated in Section 10 above, nothing herein is intended, nor will be deemed, to confer rights or remedies upon any third party.
		</p>
	</li>
	<li>
		<p>
			The Terms contain the entire agreement between you and us regarding the use of the Site, and supersede any prior agreement between you and us on such subject matter.
			The parties acknowledge that no reliance is placed on any representation made but not expressly contained in these Terms.
		</p>
	</li>
	<li>
		<p>
			Any failure on RAD Remedy’s part to exercise or enforce any right or provision of the Terms does not constitute a waiver of such right or provision.
			The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.
		</p>
	</li>
	<li>
		<p>
			If any provision of the Terms is found to be unenforceable or invalid, then only that provision shall be modified to reflect the parties' intention or eliminated to the minimum extent necessary so that the Terms shall otherwise remain in full force and effect and enforceable.
		</p>
	</li>
	<li>
		<p>
			The Terms, and any rights or obligations hereunder, are not assignable, transferable or sublicensable by you except with RAD Remedy's prior written consent, but may be assigned or transferred by us without restriction.
			Any attempted assignment by you shall violate these Terms and be void.
		</p>
	</li>
	<li>
		<p>
			The section titles in the Terms are for convenience only and have no legal or contractual effect.
		</p>
	</li>
</ol>

{% endblock %}