{% extends 'base.html' %}

{% block title %}RAD Remedy - Under Construction{% endblock %}
{% block head_text %}Under Construction{% endblock %}

{% block head %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
<h2>Under Construction</h2>
<p class="lead">
  As the site is still in development, some pages haven't been created yet, 
  including this one! Feel free to continue browsing the rest of the site.
</p>
<p>
  Questions? Free free to email us at <a href="mailto:info@radremedy.org">info@radremedy.org</a>.
</p>
{% endblock %}