{% extends 'base.html' %}

{% block title %}Rad Remedy - Under Construction{% endblock %}
{% block head_text %}Under Construction{% endblock %}
{% block head_blurb %}This is where we would a nice blurb about what RAD is, who 
            should use it, and what they might use it for. Also, this is a good 
            spot for a short version of our mission statement!{% endblock %}

{% block content %}
<div class="content-temp">
	<h3> UNDER CONSTRUCTION! </h3>
	<p>As the site is still in development, some pages haven't been created yet, including this one! Feel free to continue browsing 
		the rest of the site. </p>
	<p>Questions? Free free to email us at <a href="mailto:info@radremedy.org">info@radremedy.org</a></p>
</div> 

{% endblock %}