<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Create an Individual Account!</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="username">Username</label>
  <div class="controls">
    <input id="username" name="username" type="text" placeholder="Username" class="input-xlarge" required="">
    <p class="help-block">Please enter your username here.</p>
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="Email">Email</label>
  <div class="controls">
    <input id="Email" name="Email" type="text" placeholder="Email" class="input-xlarge" required="">
    <p class="help-block">Please enter your email here.</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="Password">Password</label>
  <div class="controls">
    <input id="Password" name="Password" type="password" placeholder="Password" class="input-xlarge" required="">
    <p class="help-block">Please enter your password here.</p>
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="Confirm Password">Confirm Password</label>
  <div class="controls">
    <input id="Confirm Password" name="Confirm Password" type="password" placeholder="Confirm Password" class="input-xlarge" required="">
    <p class="help-block">Please confirm your password here</p>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton">Single Button</label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
  </div>
</div>

</fieldset>
</form>