{% extends 'email/email-layout.html' %}

{% block content %}
<p>
	Hi {{ user.display_name }},
</p>
<p>
	Someone connecting from {{ request_ip }} recently requested a password
	for your RAD Remedy account ({{ user.username }}).
</p>
<p>
	If you requested a password reset, please click the link below to reset your password:<br />
	{{ reset_url|urlize }}
</p>
<p>
	If you did not request the password reset, you can simply ignore this email.<br />
	This link will expire in 48 hours.
</p>
{% endblock %}